{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slider.css' %}" />
    <script src="{% static 'js/slider.js' %}" defer></script>
    <!--    font    -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}" />

    <script defer src="{% static 'fontawesome/js/all.js' %}"></script>
    <script defer src="{% static 'fontawesome/js/brands.js' %}"></script>
    <script defer src="{% static 'fontawesome/js/solid.js' %}"></script>
    <script defer src="{% static 'fontawesome/js/fontawesome.js' %}"></script>
    <!--    end font    -->
    <!-- Remember to include jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <!-- include jQuery library -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <!-- include Cycle plugin -->
    <script type="text/javascript"
        src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
    <title>site | {% block title %} {% endblock %}</title>
    <link rel="icon" href="{% static 'images/logo2.png' %}">


</head>

<body style="font-family: IRANSans;">
    <!-- navrbar -->
    {% include '_partials/_navbar.html' %}
    <br><br><br> {% block content %} {% endblock %} {% include '_partials/_footer.html' %}


    <script>
        setTimeout(() => {
            $('#message').fadeOut('slow');
        }, 3000);
    </script>



    <div hidden> <h1>آموزش  یادگیری   یافتن   نتیجه  کامپیوتر  
         ریاضی   گرافیک   فیلمبرداری فیلم برداری
نکات کلیدی  ارتقا  کاهش افزایش برنامه نویسی
کد نویسی متاتگ هشتگ هشتک ارتقا برنامه کاهش خطا فیلم سریال بازی نرم افزار اپلیکیشن 
حذف اضافه تغییر مقایسه مقابله مساوی جمع بندی موفقیت تعبیر خواب 
تشکیل تنزیل ارتقا تفکیک مجزا متقارن مسادف مثادف مصادف مصادیق 
مصداق  مراتب مرتبه علمی هیئت علمی ارتقا علمی 
دانشیار دانشمند دانشجو دانشیار دبستان دبیرستان راهنمایی متوسطه
کنجکاوی یوتیوب توییتر توئیتر  تلگرام واتس اپ اینستاگرام 
سئو سردسته نظام هماهنگی هماهنگ تلاش کوشش موفق ارتش سپاه دسته گردان 
کشمکش رئیس جمهور رئیس مجلس مردم قضائیه قوه مقننه مجریه
نگاه آنلاین لرن زبان انگلیسی فرانسه ترکی عربی استانبولی اسپانیایی ایتالیایی
کشاورزی دامداری پزشکی قربان انرژی آینده شغل هوا فضا آب و هوا
تکنولوژی هوش مصنوعی  الکترونیک

India vs South Africa
Cameron Boyce
Copa America
Bangladesh vs India
iPhone 11
Game of Thrones
Avengers: Endgame
Joker
Notre Dame
ICC Cricket World Cup

Copa America
Notre Dame
ICC Cricket World Cup
Hurricane Dorian
Rugby World Cup
game of Thrones
Stranger Things
Chernobyl
When They See Us
The Umbrella Academy


آشنایی با بیشترین کلمات جستجو شده گوگل در سال ۲۰۱۹
Avengers: Endgame
Joker
Captain Marvel
Toy Story 4
Aquaman
Once Upon a Time in Hollywood
Frozen 2
Green Book
The Lion King
Aladdin
    </h1></div>



</body>

</html>