@font-face {
    font-family: IRANSans;
    src: url('IRANSansWeb.eot');
    src: url('IRANSansWeb.eot') format('embedded-opentype'), url('IRANSansWeb.woff') format('woff'), url('IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    line-height: 3rem;
}

.buttons .button {
    margin-bottom: 0.5rem;
    margin-right: 5px;
}

.hero.has-background {
    position: relative;
    overflow: hidden;
}


.animreza:hover{
    transform: rotate(100deg);
    }
    
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.hero-background.is-transparent {
    opacity: 3.3;
}

.map-responsive {
    border: 0;
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    padding-bottom: 3%;
    position: relative;
}