{% extends 'base.html' %}
{% load static %}

{% block title %}
صفحه موجود نیست
{% endblock %}

{% block content %}
<section class="section" style="background-color:snow;" >
        <div class="container">
            <div class="columns">
                <div class="column is-centered has-text-centered ">
                    <h1><strong> این صفحه موجود نیست </strong></h1>
                    <br>
                    <h1><strong> لطفا آدرس الکترونیکی وارد شده را مجدد بررسی نمایید</strong></h1>
                    <br><br>
                    <hr>
                    <a href="{% url 'index' %}">
                        <img style="border-radius: 3px; padding-top: 7px; padding-right: 7px;"
                            src="{% static 'images/logo2.png' %}">
                    </a>
                </div>
            </div>
        </div>
</section>
{% endblock %}