{% extends 'base.html' %}


{% block title %}
{% if aboutAdmins %}
{% for aboutAdmin in aboutAdmins %}
{{ aboutAdmin.title_page }}
{% endfor %}
{% endif %}
{% endblock %}
{% block content %}

<!--test-->
<div class="hero is-fullheight is-primary has-background-dark">
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <h1 class="title has-text-centered">{% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                {{ aboutAdmin.title_page }}
                {% endfor %}
                {% endif %}</h1>
            <!--        عکس تیتر بالای صفحه-->
            <figure class="image is-3by1">
                {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                <img src=" {{ aboutAdmin.pic.url }}">
                {% endfor %}
                {% endif %}
            </figure>



            <section class="section has-background-light">
                <div class="container ">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title has-text-dark has-text-centered">{% if aboutAdmins %}
                        {% for aboutAdmin in aboutAdmins %}
                        {{ aboutAdmin.title_text }}
                        {% endfor %}
                        {% endif %}</h1>
                    <!--            توضحات زیر عکس اول درباره ما-->
                    <h2 class="subtitle has-text-dark has-text-justified">
                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                        {{ aboutAdmin.text_about }}
                        {% endfor %}
                        {% endif %}

                    </h2>
                </div>
            </section>


            <!--        تیتر کارت های اسامی-->
            <!--        کارت های اسامی-->
            <section class="section has-background-dark">
                <div class="container">

                    <div class="columns is-desktop">
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                                        <img src=" {{ aboutAdmin.modir1_pic.url }}">
                                        {% endfor %}
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media is-right">

                                        <div class="media-content">
                                            <p class="title has-text-dark has-text-centered"> {% if aboutAdmins %}
                                                {% for aboutAdmin in aboutAdmins %}
                                                {{ aboutAdmin.modir1_semat }}
                                                {% endfor %}
                                                {% endif %}</p>
                                            <p class="subtitle has-text-dark has-text-centered"> {% if aboutAdmins %}
                                                {% for aboutAdmin in aboutAdmins %}
                                                {{ aboutAdmin.modir1_name }}
                                                {% endfor %}
                                                {% endif %}</p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                                        {{ aboutAdmin.modir1_text }}
                                        {% endfor %}
                                        {% endif %}
                                        <br>
                                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                                        <a href="mailto:{{ aboutAdmin.modir1_email }}"> {{ aboutAdmin.modir1_email }}
                                        </a>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                                        <img src=" {{ aboutAdmin.modir2_pic.url }}">
                                        {% endfor %}
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media is-right">
                                        <div class="media-content">
                                            <p class="title has-text-dark has-text-centered"> {% if aboutAdmins %}
                                                {% for aboutAdmin in aboutAdmins %}
                                                {{ aboutAdmin.modir2_semat }}
                                                {% endfor %}
                                                {% endif %}</p>
                                            <p class="subtitle has-text-dark has-text-centered"> {% if aboutAdmins %}
                                                {% for aboutAdmin in aboutAdmins %}
                                                {{ aboutAdmin.modir2_name }}
                                                {% endfor %}
                                                {% endif %}</p>
                                        </div>
                                    </div>
                                    <div class="content"> {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                                        {{ aboutAdmin.modir2_text }}
                                        {% endfor %}
                                        {% endif %}
                                        <br>
                                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                                        <a href="mailto:{{ aboutAdmin.modir2_email }}"> {{ aboutAdmin.modir2_email }}
                                        </a>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                                        <img src=" {{ aboutAdmin.modir3_pic.url }}">
                                        {% endfor %}
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title has-text-dark has-text-centered"> {% if aboutAdmins %}
                                                {% for aboutAdmin in aboutAdmins %}
                                                {{ aboutAdmin.modir3_semat }}
                                                {% endfor %}
                                                {% endif %}</p>
                                            <p class="subtitle has-text-dark has-text-centered"> {% if aboutAdmins %}
                                                {% for aboutAdmin in aboutAdmins %}
                                                {{ aboutAdmin.modir3_name }}
                                                {% endfor %}
                                                {% endif %}</p>
                                        </div>
                                    </div> {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                                    {{ aboutAdmin.modir3_text }}
                                    {% endfor %}
                                    {% endif %}
                                    <br>
                                    {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                                    <a href="mailto:{{ aboutAdmin.modir3_email }}"> {{ aboutAdmin.modir3_email }}
                                    </a>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
        </div>
        </section>

    </div>

</div>

</div>
{% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}


{% if aboutAdmin.pic_is_publish == True %}
<!-- Begin Work Content -->
<section class="section has-background-light">
    <div class="section-dark my-work" id="my-work">
        <div class="container">
            <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-12">
                    <h1 class="title has-text-centered section-title"> {% if aboutAdmins %}
                        {% for aboutAdmin in aboutAdmins %}
                        {{ aboutAdmin.pic_title }}
                        {% endfor %}
                        {% endif %}</h1>
                </div>
                <div class="column is-3">
                    <a href="#">
                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                        <figure class="image is-2by1 work-item"
                            style="background: url('{{ aboutAdmin.pic1.url }}') no-repeat center center/cover;"></figure>
                        {% endfor %}
                        {% endif %}

                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                        <figure class="image is-2by1 work-item"
                            style="background: url('{{ aboutAdmin.pic2.url }}') no-repeat center center/cover;"></figure>
                        {% endfor %}
                        {% endif %}</a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                        <figure class="image is-2by1 work-item"
                            style="background: url('{{ aboutAdmin.pic3.url }}') no-repeat center center/cover;"></figure>
                        {% endfor %}
                        {% endif %} </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                        <figure class="image is-2by1 work-item"
                            style="background: url('{{ aboutAdmin.pic4.url }}') no-repeat center center/cover;"></figure>
                        {% endfor %}
                        {% endif %} </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                        <figure class="image is-2by1 work-item"
                            style="background: url('{{ aboutAdmin.pic5.url }}') no-repeat center center/cover;"></figure>
                        {% endfor %}
                        {% endif %} </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                        <figure class="image is-2by1 work-item"
                            style="background: url('{{ aboutAdmin.pic6.url }}') no-repeat center center/cover;"></figure>
                        {% endfor %}
                        {% endif %} </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                        <figure class="image is-2by1 work-item"
                            style="background: url('{{ aboutAdmin.pic7.url }}') no-repeat center center/cover;"></figure>
                        {% endfor %}
                        {% endif %} </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        {% if aboutAdmins %} {% for aboutAdmin in aboutAdmins %}
                        <figure class="image is-2by1 work-item"
                            style="background: url('{{ aboutAdmin.pic8.url }}') no-repeat center center/cover;"></figure>
                        {% endfor %}
                        {% endif %} </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Work Content -->
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}