{% extends 'base.html' %} {% block title %} about {% endblock %}
{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background">
    <img alt="Fill Murray" class="hero-background is-transparent" src="static/images/bg.jpg" />
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <h1 class="title has-text-centered">درباره ما</h1>
            <!--        عکس تیتر بالای صفحه-->
            <figure class="image is-3by1">
                <img src="/static/images/headeraboutus.jpg">
            </figure>



            <section class="section has-background-light">
                <div class="container ">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title has-text-dark has-text-centered">مرکز آموزشی ...</h1>
                    <!--            توضحات زیر عکس اول درباره ما-->
                    <h2 class="subtitle has-text-dark has-text-justified">

                        نکته مهمی که در بیشتر سایتهای ایرانی توجهی به آن نمیشود طراحی صفحه درباره ما یا همان About Us است. اکثر افراد در این بخش مطالبی طولانی و خسته کننده برای کاربر و یا نوشته ای کوتاه و ناقص قرار میدهند که میتواند اعتبار سایت یا شرکت شما را زیر سوال ببرد.
                        معمولا تصور میشود که کاربران به صفحه درباره ما توجهی نکرده، متن معرفی شرکت را نمی خوانند و بیشتر به خدمات و محصولات ارائه شده در سایت مراجعه میکنند، این تفکر تا حدی صحیح است ولی زمانیکه قرار است یک بازدیدکننده به مشتری تبدیل شود
                        اهمیت صفحه درباره ما یا درباره شرکت بیش از پیش افزایش می یابد. بعنوان طراح سایت یا صاحب شرکت تمرکز ما بیشتر بر روی صفحات داخلی سایت و ارائه بهتر محصولات است و این امر موجب کاهش توجه به بخش های اصلی مانند صفحه درباره ما و تماس با
                        ما خواهد شد. در دنیای تجارت امروز، برندها و شرکت های بزرگ در ارتباط با مشتریان و ایجاد احساس شناخت متقابل بسیار موفق عمل کرده اند تا جاییکه شما صاحبان بسیاری از شرکت های بزرگ مانند اپل و گوگل را بخوبی میشناسید و حتی ممکن است زندگینامه
                        آنها را مطالعه کرده باشید


                    </h2>
                </div>
            </section>


            <!--        تیتر کارت های اسامی-->
            <!--        کارت های اسامی-->
            <section class="section has-background-dark">
                <div class="container">

                    <div class="columns is-desktop">
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="static/images/modir2-about-us.jpg" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media is-right">

                                        <div class="media-content">
                                            <p class="title has-text-dark has-text-centered">مدیر عامل</p>
                                            <p class="subtitle has-text-dark has-text-centered">محمد محمدی</p>
                                        </div>
                                    </div>
                                    <div class="content">

                                        مسئولیت‌های مدیر ارشد اجرایی توسط هیئت مدیره سازمان یا قدرت‌های دیگر انتخاب می‌شود. وظیفه مدیرعامل جهت دادن به اهداف داخلی و خارجی شرکت با توجه به دیدگاه استراتژی آن شرکت می‌باشد.<br><br>
                                        <a href="#">اینستاگرام</a><br>
                                        <a href="#">تلفن</a><br>
                                        <a href="#">mail@email.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="static/images/modir1-about-us.jpg" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media is-right">
                                        <div class="media-content">
                                            <p class="title has-text-dark has-text-centered">مدیر فروش</p>
                                            <p class="subtitle has-text-dark has-text-centered">مهدی مهدوی</p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        تحقیقات بازار شامل تبادل اطلاعات بین خریدار و فروشنده است. تحقیقات بازار اولین قدم در شناخت مشتری است. <br><br><br><br>
                                        <a href="#">اینستاگرام</a><br>
                                        <a href="#">تلفن</a><br>
                                        <a href="#">mail@email.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="static/images/modir3-about-us.jpg" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title has-text-dark has-text-centered">معاون آموزشی</p>
                                            <p class="subtitle has-text-dark has-text-centered">علی علوی</p>
                                        </div>
                                    </div>
                                    1- توانائی سازماندهی ، هماهنك سازی ، نظارت و هدایت امور درواحد آموزش 2- داشتن خلاقیت ، ابتكار و قدرت در تصمیم گیری در بررسی مسایل و مشكلات 3- توانائی ارائه پیشنهادات در طراحی سیاست ها و خط مشی های مناسب سازمان
                                    <div class="content">
                                        <a href="#">اینستاگرام</a><br>
                                        <a href="#">تلفن</a><br>
                                        <a href="#">meil@email.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </section>

        </div>

    </div>

</div>

<!-- Begin Work Content -->
<section class="section has-background-light">
    <div class="section-dark my-work" id="my-work">
        <div class="container">
            <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-12">
                    <h1 class="title has-text-centered section-title">محیط آموزشگاه</h1>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=0');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=10');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=20');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=30');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=40');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=50');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=60');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=70');"></figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Work Content -->


{% endblock %}