{% extends 'base.html' %}

{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background">
    <img alt="Fill Murray" class="hero-background is-transparent" src="static/images/bg.jpg"/>
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <h1 class="title has-text-centered">درباره ما</h1>
            <h2 class="subtitle has-text-centered">شرکت ما</h2>
            <!--        عکس تیتر بالای صفحه-->
            <figure class="image is-3by1">
                <img src="/static/images/pic02.jpg">
            </figure>



            <section class="section has-background-light">
                <div class="container ">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title has-text-dark has-text-centered">توضیحات دربارما</h1>
                    <!--            توضحات زیر عکس اول درباره ما-->
                    <h2 class="subtitle has-text-dark has-text-justified">

                        کته مهمی که در بیشتر سایتهای ایرانی توجهی به آن نمیشود طراحی صفحه درباره ما یا همان
                        About Us است.
                        اکثر
                        افراد در این بخش مطالبی طولانی و خسته کننده برای کاربر و یا نوشته ای کوتاه و ناقص قرار
                        میدهند که
                        میتواند
                        اعتبار سایت یا شرکت شما را زیر سوال ببرد.

                        معمولا تصور میشود که کاربران به صفحه درباره ما توجهی نکرده، متن معرفی شرکت را نمی خوانند
                        و بیشتر به
                        خدمات و محصولات ارائه شده در سایت مراجعه میکنند، این تفکر تا حدی صحیح است ولی زمانیکه
                        قرار است یک
                        بازدیدکننده به مشتری تبدیل شود اهمیت صفحه درباره ما یا درباره شرکت بیش از پیش افزایش می
                        یابد.

                        بعنوان طراح سایت یا صاحب شرکت تمرکز ما بیشتر بر روی صفحات داخلی سایت و ارائه بهتر
                        محصولات است و این
                        امر
                        موجب کاهش توجه به بخش های اصلی مانند صفحه درباره ما و تماس با ما خواهد شد. در دنیای
                        تجارت امروز،
                        برندها
                        و شرکت های بزرگ در ارتباط با مشتریان و ایجاد احساس شناخت متقابل بسیار موفق عمل کرده اند
                        تا جاییکه
                        شما
                        صاحبان بسیاری از شرکت های بزرگ مانند اپل و گوگل را بخوبی میشناسید و حتی ممکن است
                        زندگینامه آنها را
                        مطالعه کرده باشید


                    </h2>
                </div>
            </section>


            <!--        تیتر کارت های اسامی-->
            <!--        کارت های اسامی-->
            <section class="section has-background-dark">
                <div class="container">

                    <div class="columns is-desktop">
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media is-right">

                                        <div class="media-content">
                                            <p class="title is-4">مهدی زهرایی</p>
                                            <p class="subtitle is-6">مهدی عشق است</p>
                                        </div>
                                    </div>

                                    <div class="content">
                                        مدیرعامل شرکت تولید و تهیه سایت های عجیب و غریب
                                        <a>اینستاگرام</a><br>
                                        <a href="#">تلفن</a><br>
                                        <a href="#">mehdizahraee@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media is-right">

                                        <div class="media-content">
                                            <p class="title is-4">مهدی زهرایی</p>
                                            <p class="subtitle is-6">مهدی عشق است</p>
                                        </div>
                                    </div>

                                    <div class="content">
                                        مدیرعامل شرکت تولید و تهیه سایت های عجیب و غریب
                                        <a>اینستاگرام</a><br>
                                        <a href="#">تلفن</a><br>
                                        <a href="#">mehdizahraee@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media is-right">

                                        <div class="media-content">
                                            <p class="title is-4">مهدی زهرایی</p>
                                            <p class="subtitle is-6">مهدی عشق است</p>
                                        </div>
                                    </div>

                                    <div class="content">
                                        مدیرعامل شرکت تولید و تهیه سایت های عجیب و غریب
                                        <a>اینستاگرام</a><br>
                                        <a href="#">تلفن</a><br>
                                        <a href="#">mehdizahraee@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </section>
        </div>

    </div>

</div>

{% endblock %}