{% extends 'base.html' %}



{% block title %}{% if tutorialapplicationAdmins %} {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
{{ tutorialapplicationAdmin.title_page }} {% endfor %}
{% endif %}{% endblock %} {% block content %}
<!--test-->
<div class="hero is-fullheight " style="background-color:snow;">
    <div class="hero-body">
        <section class="container">
            <figure class="image is-3by1">
                {% if tutorialapplicationAdmins %} {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                <img src="{{ tutorialapplicationAdmin.pic.url }}">
                {% endfor %}
                {% endif %}
            </figure>
            <div class="box">
                <section class="section " style="background-color:snow;">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title has-text-dark">{% if tutorialapplicationAdmins %}
                        {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                        {{ tutorialapplicationAdmin.title_search }} {% endfor %}
                        {% endif %}</h1>

                </section>
                <form method="post" id="formidsearch" action="{% url 'tutorialapplication' %}"
                    data-searchselect-url="{% url 'tutorialapplication' %}" class="section "
                    style="background-color:snow;">
                    {% csrf_token %}
                    <div class="container ">
                        <div class="columns">
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded has-icons-right select is-fullwidth">
                                                <select id="maghtanidtemp" name="maghtan">
                                                    <option selected="True" disabled="disabled">مقطع تحصیلی</option>
                                                    {% if maghtaTahsilishows %}
                                                    {% for maghtaTahsilishow in maghtaTahsilishows %}
                                                    <option data-id="{{ maghtaTahsilishow.id }}"
                                                        value="{{ maghtaTahsilishow.id }}">
                                                        {{ maghtaTahsilishow.maghta }}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                    <div class="col-md-12">
                                                        <p>No maghta Available</p>
                                                    </div>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="field">
                                                <div class="control is-expanded has-icons-right select is-fullwidth">
                                                    <select id="reshtenidtemp" name="reshten">
                                                        <option selected="True" disabled="disabled">ابتدا مقطع تحصیلی را
                                                            انتخاب نمایید</option>
                                                        {% if reshteTahsilishows %}
                                                        {% for reshteTahsilishow in reshteTahsilishows %}
                                                        <option value="{{ reshteTahsilishow.id }}">
                                                            {{ reshteTahsilishow.reshte }}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('select[name="maghtan"]').on('change', function () {
                                    var sardaste_id = $("#maghtanidtemp option:selected").attr('data-id');

                                    if (sardaste_id) {
                                        $.ajax({
                                            url: '/tutorialapplication/m/' + sardaste_id,
                                            type: 'GET',
                                            dataType: 'json',
                                            success: function (data) {
                                                console.log(data);
                                                $('select[name="reshten"]').empty();


                                                $.each(data, function (key, value) {
                                                    $('select[name="reshten"]').append('<option value="' + value + '">' + value + '</option>');
                                                });


                                            },
                                        })
                                    } else {
                                        $('select[name="reshten"]').empty();
                                    }
                                })
                            })
                        </script>




                        <div class="columns">
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.coursen }}" class="input is-fullwidth"
                                        placeholder="نام فایل " type="text" name="coursen">
                                </div>
                            </div>
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.modaresn }}" class="input is-fullwidth"
                                        placeholder="نام تولید کننده" type="text" name="modaresn">
                                </div>
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button id="maghtanidtempbtn" class="button is-primary">
                                        {% if tutorialapplicationAdmins %}
                                        {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                                        {{ tutorialapplicationAdmin.text_click }} {% endfor %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>





















                {% include '_partials/_ghabsearch.html' %}

























            </div>
            {% if searchcourseapplicationshows %}
            <section class="section " style="background-color:snow;">
                <div class="container ">
                    <h3 class="subtitle has-text-dark">نرم افزار های یافت شده</h3>
                    {% for searchcourseapplicationshow in searchcourseapplicationshows %}
                    <a href="{% url 'showapplicationtutorial' searchcourseapplicationshow.id %}" class="columns box">
                        <div class="column is-3">
                            <figure class="image">
                                <img style="max-height: 150px;" src="{{ searchcourseapplicationshow.pic.url }}">
                            </figure>
                        </div>
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-vcentered">
                                    <strong>
                                        نام فایل : {{ searchcourseapplicationshow.coursename }}
                                    </strong><br>
                                    <strong>
                                        تولید کننده : {{ searchcourseapplicationshow.modaresinfkey }}
                                    </strong><br>
                                    {% if searchcourseapplicationshow.hazine != 0 %}
                                    <small>
                                        هزینه : {{ searchcourseapplicationshow.hazine }} تومان
                                    </small>
                                    {% else %}
                                    <small>
                                        هزینه : رایگان
                                    </small>
                                    {% endif %}
                                    <br>
                                </p>
                            </div>
                        </div>
                    </a>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            <hr>
            {% if bettercourseapplicationshows %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialapplicationAdmins %}
                    {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                    {{ tutorialapplicationAdmin.title_1 }} {% endfor %}
                    {% endif %}
                </h3>
                <div class="columns is-multiline">
                    {% for bettercourseapplicationshow in bettercourseapplicationshows %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'showapplicationtutorial' bettercourseapplicationshow.id %}" class="box"
                            style="height: 320px;">

                            {% if bettercourseapplicationshow.hazine != 0 %}
                            <p class="button is-primary" style="position: absolute; height: 70px; border-radius: 5%;">
                                {{ bettercourseapplicationshow.hazine }}<br> تومان </p>
                            {% else %}
                            <p class="button is-danger" style="position: absolute; height: 70px; border-radius: 50%;">
                                رایگان </p>
                            {% endif %}

                            <img src="{{ bettercourseapplicationshow.pic.url }}" style="width: 100%; height:150px">
                            <p class="has-text-centered"><strong> نام فایل :
                                    {{ bettercourseapplicationshow.coursename }}</strong></p>
                            <p class="has-text-centered">تولید کننده : {{ bettercourseapplicationshow.modaresinfkey }}
                            </p>
                        </a>
                    </div>
                    {% endfor %}

                </div>

            </section>
            <br>
            {% if bettercourseapplicationshows.has_other_pages %}
            <div class="row columns is-centered">
                <div class="box column is-3">
                    <ul class="pagination">
                        {% if bettercourseapplicationshows.has_pervious %}
                        <li class="page-item">
                            <a href="?page2={{bettercourseapplicationshows.previous_page_number}}" class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% endif %}
                        {% for i in bettercourseapplicationshows.paginator.page_range %}
                        {% if bettercourseapplicationshows.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page2={{i}}" class="page-link">{{i}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if bettercourseapplicationshows.has_next %}
                        <li class="page-item">
                            <a href="?page2={{bettercourseapplicationshows.next_page_number}}" class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <hr>
            {% endif %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialapplicationAdmins %}
                    {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                    {{ tutorialapplicationAdmin.title_2 }} {% endfor %}
                    {% endif %}</h3>
                <div class="columns is-multiline">
                    {% if newcourseapplicationshows %} {% for newcourseapplicationshow in newcourseapplicationshows %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'showapplicationtutorial' newcourseapplicationshow.id %}" class="box"
                            style="height: 320px;">

                            {% if newcourseapplicationshow.hazine != 0 %}
                            <p class="button is-primary" style="position: absolute; height: 70px; border-radius: 5%;">
                                {{ newcourseapplicationshow.hazine }}<br> تومان </p>
                            {% else %}
                            <p class="button is-danger" style="position: absolute; height: 70px; border-radius: 50%;">
                                رایگان </p>
                            {% endif %}

                            <img src="{{ newcourseapplicationshow.pic.url }}" style="width: 100%; height:150px">
                            <p class="has-text-centered"><strong> نام فایل :
                                    {{ newcourseapplicationshow.coursename }}</strong></p>
                            <p class="has-text-centered">تولید کننده : {{ newcourseapplicationshow.modaresinfkey }}</p>
                        </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            <br>
            {% if newcourseapplicationshows.has_other_pages %}
            <div class="row columns is-centered">
                <div class="box column is-3">
                    <ul class="pagination">
                        {% if newcourseapplicationshows.has_pervious %}
                        <li class="page-item">
                            <a href="?page3={{newcourseapplicationshows.previous_page_number}}" class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% endif %}
                        {% for i in newcourseapplicationshows.paginator.page_range %}
                        {% if newcourseapplicationshows.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page3={{i}}" class="page-link">{{i}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if newcourseapplicationshows.has_next %}
                        <li class="page-item">
                            <a href="?page3={{newcourseapplicationshows.next_page_number}}" class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </section>
    </div>
</div>

{% endblock %}