{% extends 'base.html' %}



{% block title %}{% if tutorialapplicationAdmins %} {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
{{ tutorialapplicationAdmin.title_page }} {% endfor %}
{% endif %}{% endblock %} {% block content %}
<!--test-->
<div class="hero is-fullheight " style="background-color:snow;">
    <div class="hero-body">
        <section class="container">
            <figure class="image is-3by1">
                {% if tutorialapplicationAdmins %} {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                <img src="{{ tutorialapplicationAdmin.pic.url }}">
                {% endfor %}
                {% endif %}
            </figure>
            <div class="box">
                <section class="section " style="background-color:snow;">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title has-text-dark">{% if tutorialapplicationAdmins %}
                        {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                        {{ tutorialapplicationAdmin.title_search }} {% endfor %}
                        {% endif %}</h1>

                </section>
                <form method="post" id="formidsearch" action="{% url 'tutorialapplication' %}"
                    data-searchselect-url="{% url 'tutorialapplication' %}" class="section " style="background-color:snow;">
                    {% csrf_token %}
                    <div class="container ">
                        <div class="columns">
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded has-icons-right select is-fullwidth">
                                                <select id="maghtanidtemp" name="maghtan">
                                                    <option selected="True" disabled="disabled">مقطع تحصیلی</option>
                                                    {% if maghtaTahsilishows %}
                                                    {% for maghtaTahsilishow in maghtaTahsilishows %}
                                                    <option data-id="{{ maghtaTahsilishow.id }}"
                                                        value="{{ maghtaTahsilishow.id }}">
                                                        {{ maghtaTahsilishow.maghta }}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                    <div class="col-md-12">
                                                        <p>No maghta Available</p>
                                                    </div>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="field">
                                                <div class="control is-expanded has-icons-right select is-fullwidth">
                                                    <select id="reshtenidtemp" name="reshten">
                                                        <option selected="True" disabled="disabled">ابتدا مقطع تحصیلی را
                                                            انتخاب نمایید</option>
                                                        {% if reshteTahsilishows %}
                                                        {% for reshteTahsilishow in reshteTahsilishows %}
                                                        <option value="{{ reshteTahsilishow.id }}">
                                                            {{ reshteTahsilishow.reshte }}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('select[name="maghtan"]').on('change', function () {
                                    var sardaste_id = $("#maghtanidtemp option:selected").attr('data-id');

                                    if (sardaste_id) {
                                        $.ajax({
                                            url: '/tutorialapplication/m/' + sardaste_id,
                                            type: 'GET',
                                            dataType: 'json',
                                            success: function (data) {
                                                console.log(data);
                                                $('select[name="reshten"]').empty();


                                                $.each(data, function (key, value) {
                                                    $('select[name="reshten"]').append('<option value="' + value + '">' + value + '</option>');
                                                });


                                            },
                                        })
                                    } else {
                                        $('select[name="reshten"]').empty();
                                    }
                                })
                            })
                        </script>




                        <div class="columns">
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.coursen }}" class="input is-fullwidth" placeholder="نام فایل "
                                        type="text" name="coursen">
                                </div>
                            </div>
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.modaresn }}" class="input is-fullwidth"
                                        placeholder="نام تولید کننده" type="text" name="modaresn">
                                </div>
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button id="maghtanidtempbtn" class="button is-primary">
                                        {% if tutorialapplicationAdmins %}
                                        {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                                        {{ tutorialapplicationAdmin.text_click }} {% endfor %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>






















                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <link rel="stylesheet" href="/resources/demos/style.css">
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                    $(function () {
                        
                        $("#accordion0")
                            .accordion({
                                active: 'none',
                                collapsible: true,
                                heightStyle: "content",
                                header: "> div > h1"
                            })
                            .sortable({
                                axis: "y",
                                handle: "h1",
                                stop: function (event, ui) {
                                    // IE doesn't register the blur when sorting
                                    // so trigger focusout handlers to remove .ui-state-focus
                                    ui.item.children("h1").triggerHandler("focusout");
                                    // Refresh accordion to handle new order
                                    $(this).accordion("refresh");
                                }
                            });
                    });
                  
                    $(function () {
                    $("#accordion")
                        .accordion({
                            active: 'none',
                            collapsible: true,
                            heightStyle: "content",
                            header: "> div > h1"
                        })
                        .sortable({
                            axis: "y",
                            handle: "h1",
                            stop: function (event, ui) {
                                // IE doesn't register the blur when sorting
                                // so trigger focusout handlers to remove .ui-state-focus
                                ui.item.children("h1").triggerHandler("focusout");
                                // Refresh accordion to handle new order
                                $(this).accordion("refresh");
                            }
                        });
                    });
                    $(function () {
                        $("div.accordion1").accordion({
                            active: 'none',
                            collapsible: true,
                            heightStyle: "content",
                            header: "> div > h2"
                        })
                            .sortable({
                                axis: "y",
                                handle: "h2",
                                stop: function (event, ui) {
                                    // IE doesn't register the blur when sorting
                                    // so trigger focusout handlers to remove .ui-state-focus
                                    ui.item.children("h2").triggerHandler("focusout");
                                    // Refresh accordion to handle new order
                                    $(this).accordion("refresh");
                                }
                            });
                    });
                    $(function () {
                        $("div.accordion2").accordion({
                            active: 'none',
                            collapsible: true,
                            heightStyle: "content",
                            header: "> div > h3"
                        })
                            .sortable({
                                axis: "y",
                                handle: "h3",
                                stop: function (event, ui) {
                                    // IE doesn't register the blur when sorting
                                    // so trigger focusout handlers to remove .ui-state-focus
                                    ui.item.children("h3").triggerHandler("focusout");
                                    // Refresh accordion to handle new order
                                    $(this).accordion("refresh");
                                }
                            });
                    });

                </script>
                <div id="accordion0">
                    <div class="group">
                        <h1>مشاهده کلیه دروس به صورت لیست</h1>
                        <div id="accordion">
                            <div class="group">
                                {% if maghtaTahsilishowsall %}
                                {% for maghtaTahsilishowall in maghtaTahsilishowsall %}
                                <h1>{{ maghtaTahsilishowall.maghta }}</h1>

                                <div class="accordion1">
                                    <div class="group">
                                        {% if reshteTahsilishowsall %}
                                        {% for reshteTahsilishowall in reshteTahsilishowsall %}
                                        {% if reshteTahsilishowall.maghtafkey.id == maghtaTahsilishowall.id %}
                                        <h2>{{ reshteTahsilishowall.reshte }}</h2>
                                        <div class="accordion2">
                                            <div class="group">
                                                {% if coursevideoshowsall %}
                                                {% for coursevideoshowall in coursevideoshowsall %}
                                                {% if coursevideoshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                <a class="box" href="{% url 'showvideotutorial' coursevideoshowall.id %}"><div class="columns"><strong class=" column is-6">عنوان : {{ coursevideoshowall.coursename }}</strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong class=" is-primary column is-3" > ویدیو </strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {% if coursevideoshowall.hazine == 0  %}<strong class="column is-2" style="color: red;" > رایگان </strong>{% else %} <strong class=" is-warning column is-2" > هزینه : {{ coursevideoshowall.hazine }} </strong> {% endif %} </div></a>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                                {% if coursevoiceshowsall %}
                                                {% for coursevoiceshowall in coursevoiceshowsall %}
                                                {% if coursevoiceshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                <a class="box" href="{% url 'showvoicetutorial' coursevoiceshowall.id %}"><div class="columns"><strong class="column is-6">عنوان : {{ coursevoiceshowall.coursename }}</strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong class="is-primary column is-3" > صوت </strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {% if coursevoiceshowall.hazine == 0  %}<strong class="is-danger column is-2"  style="color: red;"> رایگان </strong>{% else %} <strong class="is-warning column is-2" > هزینه : {{ coursevoiceshowall.hazine }} </strong> {% endif %} </div></a>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                                {% if coursefileshowsall %}
                                                {% for coursefileshowall in coursefileshowsall %}
                                                {% if coursefileshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                <a class="box" href="{% url 'showfiletutorial' coursefileshowall.id %}"><div class="columns"><strong class=" column is-6">عنوان : {{ coursefileshowall.coursename }}</strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong class=" column is-3" > فایل </strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {% if coursefileshowall.hazine == 0  %}<strong class="  column is-2"  style="color: red;" > رایگان </strong>{% else %} <strong class=" column is-2" > هزینه : {{ coursefileshowall.hazine }} </strong> {% endif %}</div> </a>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                                {% if coursebookshowsall %}
                                                {% for coursebookshowall in coursebookshowsall %}
                                                {% if coursebookshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                <a class="box" href="{% url 'showbooktutorial' coursebookshowall.id %}"><div class="columns"><strong class=" column is-6">عنوان : {{ coursebookshowall.coursename }}</strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong class=" column is-3" > کتاب </strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {% if coursebookshowall.hazine == 0  %}<strong class=" column is-2"   style="color: red;"> رایگان </strong>{% else %} <strong class=" column is-2" ></ هزینه : {{ coursebookshowall.hazine }} </strong> {% endif %}</div> </a>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                                {% if courseapplicationshowsall %}
                                                {% for courseapplicationshowall in courseapplicationshowsall %}
                                                {% if courseapplicationshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                <a class="box" href="{% url 'showapplicationtutorial' courseapplicationshowall.id %}"><div class="columns"><strong class=" column is-6">عنوان : {{ courseapplicationshowall.coursename }}</strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong class="column is-3" > نرم افزار </strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {% if courseapplicationshowall.hazine == 0  %}<strong class="column is-2"  style="color: red;"> رایگان </strong>{% else %} <strong class="column is-2" > هزینه : {{ courseapplicationshowall.hazine }} </strong> {% endif %} </div> </a>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

























            </div>
            {% if searchcourseapplicationshows %}
            <section class="section " style="background-color:snow;">
                <div class="container ">
                    <h3 class="subtitle has-text-dark">نرم افزار های یافت شده</h3>
                    {% for searchcourseapplicationshow in searchcourseapplicationshows %}
                    <a href="{% url 'showapplicationtutorial' searchcourseapplicationshow.id %}" class="columns box">
                        <div class="column is-3">
                            <figure class="image">
                                <img style="max-height: 150px;" src="{{ searchcourseapplicationshow.pic.url }}">
                            </figure>
                        </div>
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-vcentered">
                                    <strong>
                                        نام فایل : {{ searchcourseapplicationshow.coursename }}
                                    </strong><br>
                                    <strong>
                                        تولید کننده : {{ searchcourseapplicationshow.modaresinfkey }}
                                    </strong><br>
                                    {% if searchcourseapplicationshow.hazine != 0 %}
                                    <small>
                                        هزینه : {{ searchcourseapplicationshow.hazine }} تومان
                                    </small>
                                    {% else %}
                                    <small>
                                        هزینه : رایگان
                                    </small>
                                    {% endif %}
                                    <br>
                                </p>
                            </div>
                        </div>
                    </a>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            <hr>
            {% if bettercourseapplicationshows %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialapplicationAdmins %}
                    {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                    {{ tutorialapplicationAdmin.title_1 }} {% endfor %}
                    {% endif %}
                </h3>
                <div class="columns is-multiline">
                    {% for bettercourseapplicationshow in bettercourseapplicationshows %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'showapplicationtutorial' bettercourseapplicationshow.id %}" class="box">
                            <img src="{{ bettercourseapplicationshow.pic.url }}">
                            <p class="has-text-centered"><strong> نام فایل :
                                    {{ bettercourseapplicationshow.coursename }}</strong></p>
                            <p class="has-text-centered">تولید کننده : {{ bettercourseapplicationshow.modaresinfkey }}</p>
                        </a>
                    </div>
                    {% endfor %}

                </div>

            </section>
            <br>
            {% if bettercourseapplicationshows.has_other_pages %}
                    <div class="row columns is-centered">
                        <div class="box column is-3">
                            <ul class="pagination">
                                {% if bettercourseapplicationshows.has_pervious %}
                                <li class="page-item">
                                    <a href="?page2={{bettercourseapplicationshows.previous_page_number}}"
                                        class="page-link">
                                        &laquo;
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disable">
                                    <a class="page-link">
                                        &laquo;
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in bettercourseapplicationshows.paginator.page_range %}
                                {% if bettercourseapplicationshows.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{i}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a href="?page2={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if bettercourseapplicationshows.has_next %}
                                <li class="page-item">
                                    <a href="?page2={{bettercourseapplicationshows.next_page_number}}" class="page-link">
                                        &raquo;
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disable">
                                    <a class="page-link">
                                        &raquo;
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
            <hr>
            {% endif %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialapplicationAdmins %}
                    {% for tutorialapplicationAdmin in tutorialapplicationAdmins %}
                    {{ tutorialapplicationAdmin.title_2 }} {% endfor %}
                    {% endif %}</h3>
                <div class="columns is-multiline">
                    {% if newcourseapplicationshows %} {% for newcourseapplicationshow in newcourseapplicationshows %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'showapplicationtutorial' newcourseapplicationshow.id %}" class="box">
                            <img src="{{ newcourseapplicationshow.pic.url }}">
                            <p class="has-text-centered"><strong> نام فایل :
                                    {{ newcourseapplicationshow.coursename }}</strong></p>
                            <p class="has-text-centered">تولید کننده : {{ newcourseapplicationshow.modaresinfkey }}</p>
                        </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            <br>
            {% if newcourseapplicationshows.has_other_pages %}
                    <div class="row columns is-centered">
                        <div class="box column is-3">
                            <ul class="pagination">
                                {% if newcourseapplicationshows.has_pervious %}
                                <li class="page-item">
                                    <a href="?page3={{newcourseapplicationshows.previous_page_number}}"
                                        class="page-link">
                                        &laquo;
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disable">
                                    <a class="page-link">
                                        &laquo;
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in newcourseapplicationshows.paginator.page_range %}
                                {% if newcourseapplicationshows.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{i}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a href="?page3={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if newcourseapplicationshows.has_next %}
                                <li class="page-item">
                                    <a href="?page3={{newcourseapplicationshows.next_page_number}}" class="page-link">
                                        &raquo;
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disable">
                                    <a class="page-link">
                                        &raquo;
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
        </section>
    </div>
</div>

{% endblock %}