{% extends 'base.html' %}



{% block title %}{% if tutorialbookAdmins %} {% for tutorialbookAdmin in tutorialbookAdmins %}
{{ tutorialbookAdmin.title_page }} {% endfor %}
{% endif %}{% endblock %} {% block content %}
<!--test-->
<div class="hero is-fullheight has-background-dark">
    <div class="hero-body">
        <section class="container">
            <figure class="image is-3by1">
                {% if tutorialbookAdmins %} {% for tutorialbookAdmin in tutorialbookAdmins %}
                <img src="{{ tutorialbookAdmin.pic.url }}">
                {% endfor %}
                {% endif %}
            </figure>
            <div class="box">
                <section class="section " style="background-color:snow;">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title has-text-dark">{% if tutorialbookAdmins %}
                        {% for tutorialbookAdmin in tutorialbookAdmins %}
                        {{ tutorialbookAdmin.title_search }} {% endfor %}
                        {% endif %}</h1>

                </section>
                <form method="post" id="formidsearch" action="{% url 'tutorialbook' %}"
                    data-searchselect-url="{% url 'tutorialbook' %}" class="section " style="background-color:snow;">
                    {% csrf_token %}
                    <div class="container ">
                        <div class="columns">
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded has-icons-right select is-fullwidth">
                                                <select id="maghtanidtemp" name="maghtan">
                                                    <option selected="True" disabled="disabled">مقطع تحصیلی</option>
                                                    {% if maghtaTahsilishows %}
                                                    {% for maghtaTahsilishow in maghtaTahsilishows %}
                                                    <option data-id="{{ maghtaTahsilishow.id }}"
                                                        value="{{ maghtaTahsilishow.id }}">
                                                        {{ maghtaTahsilishow.maghta }}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                    <div class="col-md-12">
                                                        <p>No maghta Available</p>
                                                    </div>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="field">
                                                <div class="control is-expanded has-icons-right select is-fullwidth">
                                                    <select id="reshtenidtemp" name="reshten">
                                                        <option selected="True" disabled="disabled">ابتدا مقطع تحصیلی را
                                                            انتخاب نمایید</option>
                                                        {% if reshteTahsilishows %}
                                                        {% for reshteTahsilishow in reshteTahsilishows %}
                                                        <option value="{{ reshteTahsilishow.id }}">
                                                            {{ reshteTahsilishow.reshte }}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('select[name="maghtan"]').on('change', function () {
                                    var sardaste_id = $("#maghtanidtemp option:selected").attr('data-id');

                                    if (sardaste_id) {
                                        $.ajax({
                                            url: '/tutorialbook/m/' + sardaste_id,
                                            type: 'GET',
                                            dataType: 'json',
                                            success: function (data) {
                                                console.log(data);
                                                $('select[name="reshten"]').empty();
                                               
                                               
                                                    $.each(data, function (key, value) {
                                                        $('select[name="reshten"]').append('<option value="' + value + '">' + value + '</option>');
                                                    });
                                                
                                              
                                            },
                                        })
                                    } else {
                                        $('select[name="reshten"]').empty();
                                    }
                                })
                            })
                        </script>




                        <div class="columns">
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.coursen }}" class="input is-fullwidth" placeholder="نام درس"
                                        type="text" name="coursen">
                                </div>
                            </div>
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.modaresn }}" class="input is-fullwidth"
                                        placeholder="نام مدرس" type="text" name="modaresn">
                                </div>
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button id="maghtanidtempbtn" class="button is-primary">
                                        {% if tutorialbookAdmins %} {% for tutorialbookAdmin in tutorialbookAdmins %}
                                        {{ tutorialbookAdmin.text_click }} {% endfor %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% if searchcoursebookshows %}
            <section class="section " style="background-color:snow; overflow-y: scroll; max-height: 1200px;">
                <div class="container ">
                    <h3 class="subtitle has-text-dark">کتاب های یافت شده</h3>
                    {% for searchcoursebookshow in searchcoursebookshows %}
                    <a href="{% url 'showbooktutorial' searchcoursebookshow.id %}" class="columns box">
                        <div class="column is-one-quarter">
                            <figure class="image">
                                <img src="{{ searchcoursebookshow.pic.url }}">
                            </figure>
                        </div>
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-vcentered">
                                    <strong>
                                        درس : {{ searchcoursebookshow.coursename }}
                                    </strong><br>
                                    <strong>
                                        استاد : {{ searchcoursebookshow.modaresinfkey }}
                                    </strong><br>
                                    {% if searchcoursebookshow.hazine != 0 %}
                                    <small>
                                        هزینه : {{ searchcoursebookshow.hazine }} تومان
                                    </small>
                                    {% else %}
                                    <small>
                                        هزینه : رایگان
                                    </small>
                                    {% endif %}
                                    <br>
                            </div>
                        </div>
                    </a>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            <hr>

            {% if bettercoursebookshows %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialbookAdmins %}
                    {% for tutorialbookAdmin in tutorialbookAdmins %}
                    {{ tutorialbookAdmin.title_1 }} {% endfor %}
                    {% endif %}
                </h3>
                <div class="columns is-multiline">
                    {% for bettercoursebookshow in bettercoursebookshows %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'showbooktutorial' bettercoursebookshow.id %}" class="box">
                            <img src="{{ bettercoursebookshow.pic.url }}">
                            <p class="has-text-centered"><strong> درس :
                                    {{ bettercoursebookshow.coursename }}</strong></p>
                            <p class="has-text-centered">استاد : {{ bettercoursebookshow.modaresinfkey }}</p>
                        </a>
                    </div>
                    {% endfor %}

                </div>

            </section>
            <br>
            {% if bettercoursebookshows.has_other_pages %}
            <div class="row columns is-centered">
                <div class="box column is-3">
                    <ul class="pagination">
                        {% if bettercoursebookshows.has_pervious %}
                        <li class="page-item">
                            <a href="?page2={{bettercoursebookshows.previous_page_number}}" class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% endif %}
                        {% for i in bettercoursebookshows.paginator.page_range %}
                        {% if bettercoursebookshows.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page2={{i}}" class="page-link">{{i}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if bettercoursebookshows.has_next %}
                        <li class="page-item">
                            <a href="?page2={{bettercoursebookshows.next_page_number}}" class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <hr>
            {% endif %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialbookAdmins %}
                    {% for tutorialbookAdmin in tutorialbookAdmins %}
                    {{ tutorialbookAdmin.title_2 }} {% endfor %}
                    {% endif %}</h3>
                <div class="columns is-multiline">
                    {% if newcoursebookshows %} {% for newcoursebookshow in newcoursebookshows %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'showbooktutorial' newcoursebookshow.id %}" class="box">
                            <img src="{{ newcoursebookshow.pic.url }}">
                            <p class="has-text-centered"><strong> درس : {{ newcoursebookshow.coursename }}</strong></p>
                            <p class="has-text-centered">استاد : {{ newcoursebookshow.modaresinfkey }}</p>
                        </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            <br>
            {% if newcoursebookshows.has_other_pages %}
            <div class="row columns is-centered">
                <div class="box column is-3">
                    <ul class="pagination">
                        {% if newcoursebookshows.has_pervious %}
                        <li class="page-item">
                            <a href="?page3={{newcoursebookshows.previous_page_number}}" class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% endif %}
                        {% for i in newcoursebookshows.paginator.page_range %}
                        {% if newcoursebookshows.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page3={{i}}" class="page-link">{{i}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if newcoursebookshows.has_next %}
                        <li class="page-item">
                            <a href="?page3={{newcoursebookshows.next_page_number}}" class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </section>
    </div>
</div>

{% endblock %}