{% extends 'base.html' %}

{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background">
    <img alt="Fill Murray" class="hero-background is-transparent" src="static/images/bg.jpg"/>
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <h1 class="title has-text-centered">تماس با ما</h1>
            <!--        عکس تیتر بالای صفحه-->
            <figure class="image is-3by1">
                <img src="/static/images/pic02.jpg">
            </figure>
            <section class="section has-background-light">
                <div class="container ">
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">منتظر نظرات شما هستیم</label>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input class="input" type="text" placeholder="نام و نام خانوادگی">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded  has-icons-right">
                                            <input class="input" type="email" placeholder="ایمیل" value="wowweb@ir.com">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-expanded">
                                <div class="field has-addons">
                                    <p class="control is-expanded">
                                        <input class="input" type="tel" placeholder="شماره تماس">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text"
                                           placeholder="موضوع پیام">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea" placeholder="سوالات،نظرات و پیشنهادات"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">
                                        ارسال پیام
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--            نقشه گوگل-->

            <section class="section has-background-dark">
                <div class="container">
                    <iframe class="map-responsive"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55504.59169730114!2d52.4910592!3d29.6026112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fb21278067675bb%3A0x740522b63767a06d!2z2KfbjNiz2Krar9in2Ycg2YXYqtix2Ygg2KfZhdin2YUg2K3Ys9uM2YY!5e0!3m2!1sfa!2s!4v1579856600481!5m2!1sfa!2s"></iframe>
                </div>
            </section>
        </div>

    </div>

</div>

{% endblock %}