{% extends 'base.html' %} {% block title %}


{% if contactusers %} {% for contactuser in contactusers %}
{{ contactuser.title_page }}
{% endfor %} 
{% endif %}




 {% endblock %}
{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background">

    <img alt="Fill Murray" class="hero-background is-transparent" src="static/images/bg.jpg" />
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <h1 class="title has-text-centered">
                {% if contactusers %} {% for contactuser in contactusers %}
            {{ contactuser.title_page }}
            {% endfor %} 
            {% endif %}</h1>
            <!--        عکس تیتر بالای صفحه-->
            <figure class="image is-3by1">
                {% if contactusers %} {% for contactuser in contactusers %}
                <img src=" {{ contactuser.pic.url }}">
           
            {% endfor %} 
            {% endif %}

             
            </figure>
            <section class="section has-background-light">
                <div class="container ">
                    <div class="field is-horizontal">
                        <div class="field-label">

                            
                            <label class="label">
                                {% if contactusers %} {% for contactuser in contactusers %}
                                
                                {{ contactuser.title_message }}
                            {% endfor %} 
                            {% endif %}

                            </label>
                            
                        </div>
                       
                    </div>
                    <!-- دسترسی دسترسی دسترسی -->
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input class="input" type="text" placeholder="نام و نام خانوادگی">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded  has-icons-right">
                                            <input class="input" type="email" placeholder="ایمیل" value="wowweb@ir.com">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-expanded">
                                <div class="field has-addons">
                                    <p class="control is-expanded">
                                        <input class="input" type="tel" placeholder="شماره تماس">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="موضوع پیام">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea" placeholder="سوالات،نظرات و پیشنهادات"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">
                                        {% if contactusers %} {% for contactuser in contactusers %}
                                        {{ contactuser.click }}
                                    {% endfor %} 
                                    {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="timeline box">
                    <header class="timeline-header">
                        <div class="tag is-medium">سوال : آیا این برنامه توانایی ایجاد سلول را دارد؟</div>
                    </header>
                    <hr>
                    <div class="timeline-item">
                        <div class="timeline-marker">
                            <div class="timeline-content">
                                <p class="heading">January 2016</p>
                                <p>بله اگر شما به صورت رجیستر شده نرم افزار را نصب نمایید</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





            <!--            نقشه گوگل-->

            <section class="section has-background-dark">
                <div class="container">
                      {% if contactusers %} {% for contactuser in contactusers %}
                      <iframe class="map-responsive" src="{{ contactuser.address }}"></iframe>
                                    {% endfor %} 
                                    {% endif %}
                   
                </div>
            </section>
        </div>

    </div>

</div>

{% endblock %}