{% extends 'base.html' %} {% block title %}


{% if contactusers %} {% for contactuser in contactusers %}
{{ contactuser.title_page }}
{% endfor %}
{% endif %}




{% endblock %}
{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary" style="background-color:snow;">
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <h1 class="title has-text-dark has-text-centered">
                {% if contactusers %} {% for contactuser in contactusers %}
                {{ contactuser.title_page }}
                {% endfor %}
                {% endif %}</h1>
            <!--        عکس تیتر بالای صفحه-->
            <figure class="image is-3by1">
                {% if contactusers %} {% for contactuser in contactusers %}
                <img src=" {{ contactuser.pic.url }}">

                {% endfor %}
                {% endif %}


            </figure>

            <form action="{% url 'contact' %}" method="POST" class="section" style="background-color:snow;">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <div class="container ">

                    <div class="field is-horizontal">
                        <div class="field-label">


                            <label class="label">
                                {% if contactusers %} {% for contactuser in contactusers %}

                                {{ contactuser.title_message }}
                                {% endfor %}
                                {% endif %}

                            </label>

                        </div>

                    </div>
                    <!-- دسترسی دسترسی دسترسی -->
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea" name="soal" placeholder="سوالات،نظرات و پیشنهادات"
                                        required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">
                                        {% if contactusers %} {% for contactuser in contactusers %}
                                        {{ contactuser.click }}
                                        {% endfor %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                {% if contactuserpayam %} {% for contactuserpayams in contactuserpayam %}

                <div class="timeline box">
                    {{ contactuserpayams.soal }}
                    <hr>
                    <p>{{ contactuserpayams.javabadmin|safe }}</p>
                </div>

                {% endfor %}
                {% endif %}
                {% else %}
                <div class="container ">
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">
                                برای ارسال پیام باید وارد شوید
                            </label>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% if contactuserpayam.has_other_pages %}
                <div class="row columns is-centered">
                    <div class="box column is-3">
                        <ul class="pagination">
                            {% if contactuserpayam.has_pervious %}
                            <li class="page-item">
                                <a href="?page={{contactuserpayam.previous_page_number}}" class="page-link">
                                    &laquo;
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disable">
                                <a class="page-link">
                                    &laquo;
                                </a>
                            </li>
                            {% endif %}
                            {% for i in contactuserpayam.paginator.page_range %}
                            {% if contactuserpayam.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{i}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if contactuserpayam.has_next %}
                            <li class="page-item">
                                <a href="?page={{contactuserpayam.next_page_number}}" class="page-link">
                                    &raquo;
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disable">
                                <a class="page-link">
                                    &raquo;
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </form>


            <!--            نقشه گوگل-->

            <section class="section"  style="background-color:snow;">
                <div class="container">
                    {% if contactusers %} {% for contactuser in contactusers %}
                    <iframe class="map-responsive" src="{{ contactuser.address }}"></iframe>
                    {% endfor %}
                    {% endif %}

                </div>
            </section>
        </div>

    </div>

</div>

{% endblock %}