{% extends 'base.html' %} exam resault {% block content %}
<!--test-->
<div class="container  has-background-white-ter">
    <section class="hero is-fullheight">
        <br><br>
        <h1 class="title has-text-centered">نتیجه آزمون</h1>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-primary is-centered">
                    <div class="column   is-8-widescreen">
                        <div class="box field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    عنوان آزمون: {{ courseexam }}
                                </div>

                                <div class="field">
                                    نمره از 100 ->{{ useranswerexamss }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="field">
                                <a class="button is-warning" href="{% url 'tutorialexam' %}">
                                    بازگشت به صفحه آزمون ها
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </section>

    </div>


    {% endblock %}