{% extends 'base.html' %} {% block title %} {{ courseexam.coursename }} {% endblock %}
{% block content %}


<div class="container  has-background-white-ter">
    <section class="hero is-fullheight">
        <br><br>


        <h1 class="title has-text-centered">آزمون آنلاین</h1>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-primary is-centered" style="border: none;">
                    <div class="column  is-11-widescreen">
                        <div class="box field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    {{ courseexam.coursename }}
                                </div>
                                <div class="field">
                                    زمان آزمون {{ courseexam.saattadris }}
                                </div>



                            </div>
                        </div>



                        {% if examss %}
                        {% for exams in examss %}
                        <form action="" class="has-background-gray-light">
                            <div class="box" id="changeQC1">
                                <div class="box field is-horizontal">
                                    <div class="field-body">

                                        <div class="field">
                                            <p><a href="#ex4{{ exams.id }}" rel="modal:open" class="button">فایل متن</a>
                                            </p>
                                        </div>
                                        <!--متن-->
                                        <div id="ex4{{ exams.id }}" class="modal">
                                            <div class="hero-body">
                                                <a href="#ex4{{ exams.id }}" rel="modal:close">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-content">
                                                        <article class="message">
                                                            <div class="message-body">
                                                                {{ exams.examtext }}
                                                            </div>
                                                        </article>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <p><a href="#ex3{{ exams.id }}" rel="modal:open" class="button">فایل صوت</a>
                                            </p>
                                        </div>
                                        <!--صوت-->
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
                                            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                                            crossorigin="anonymous">
                                                function audioStop() {
                                                    alert("q");
                                                }
                                            </script>

                                        <div id="ex3{{ exams.id }}" class="modal">
                                            <div class="hero-body" >
                                                <a href="#ex3{{ exams.id }}" rel="modal:close">
                                                    <div class="modal-background" onclick="audioStop()"></div>
                                                    <div class="modal-content">
                                                        <audio controls="controls">
                                                            <source src="{{ exams.examlinkaudio }}" type="audio/mpeg" />
                                                        </audio>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="field">
                                            <p><a href="#ex1{{ exams.id }}" rel="modal:open" class="button">فایل عکس</a>
                                            </p>
                                        </div>
                                        <!--عکس-->
                                        <div id="ex1{{ exams.id }}" class="modal">
                                            <div class="hero-body">
                                                <a href="#ex1{{ exams.id }}" rel="modal:close">
                                                    <div class="modal-background"></div>
                                                    <div class="slideshow-container">
                                                        <div id="numbertext" class="numbertext"></div>
                                                        <img style="width:800px" src="{{ exams.examlinkpic }}">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <p><a href="#ex2{{ exams.id }}" rel="modal:open" class="button">فایل
                                                    ویدیو</a></p>
                                        </div>
                                        <!--فیلم-->
                                        <div id="ex2{{ exams.id }}" class="modal">
                                            <div class="hero-body">
                                                <a href="#ex2{{ exams.id }}" rel="modal:close">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-content">
                                                        <figure class="image is-16by9">
                                                            <iframe class="has-ratio" width="640" height="360"
                                                                src="{{ exams.examlinkvideo }}" frameborder="0"
                                                                allowfullscreen></iframe>
                                                        </figure>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <p><a href="#ex5{{ exams.id }}" rel="modal:open" class="button">پاسخ</a>
                                            </p>
                                        </div>
                                        <!--پاسخ-->
                                        <div id="ex5{{ exams.id }}" class="modal">
                                            <div class="hero-body">
                                                <a href="#ex5{{ exams.id }}" rel="modal:close">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-content">
                                                        <article class="message">
                                                            <div class="message-body">
                                                                {{ exams.examanswer }}
                                                            </div>
                                                        </article>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field is-horizontal">
                                        <div class="field-body">
                                            <div class="field">
                                                <label class="label">{{ exams.examquestion }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field is-horizontal">
                                        <div class="field">
                                            <input type="radio" name="test" value="1"> <b>الف -
                                            </b>{{ exams.examanswer1 }}
                                        </div>
                                    </div>
                                    <div class="field is-horizontal">
                                        <div class="field">
                                            <input type="radio" name="test" value="1"> <b>ب -
                                            </b>{{ exams.examanswer2 }}
                                        </div>
                                    </div>
                                    <div class="field is-horizontal">
                                        <div class="field">
                                            <input type="radio" name="test" value="1"> <b>ج -
                                            </b>{{ exams.examanswer3 }}
                                        </div>
                                    </div>
                                    <div class="field is-horizontal">
                                        <div class="field">
                                            <input type="radio" name="test" value="1"> <b>د -
                                            </b>{{ exams.examanswer4 }}
                                        </div>
                                    </div>
                                </div>

                            </div>


                            {% endfor %}
                            {% endif %}

                            <div class="field">
                                <p><a href="#endexam" rel="modal:open" class="button">پایان آزمون</a>
                                </p>
                            </div>

                            <div id="endexam" class="modal">
                                <div class="hero-body">

                                    <a href="#endexam" rel="modal:close">
                                        <div class="modal-background"></div>
                                        <div class="modal-content">
                                            <article class="message">
                                                <div class="message-body">
                                                    آیا نسبت به پایان دادن آزمون اطمینان دارید
                                                </div>
                                            </article>

                                            <div class="message-body box is-warning">
                                                خیر
                                            </div><br>
                                            <a class="is-5 button is-warning" href="{% url 'examresault' %}">
                                                بله پایان آزمون
                                            </a>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>




{% endblock %}