{% extends 'base.html' %} exam resault {% block content %}
<!--test-->
<div class="container  has-background-white-ter">
    <section class="hero is-fullheight">
        <br><br>
        <h1 class="title has-text-centered">نتیجه آزمون</h1>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-primary is-centered">
                    <div class="column   is-8-widescreen">
                        <div class="box field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    {% if answers %}
                                    {% for answer in answers %}
                                    {{ answer.courseexamfkey }} عنوان آزمون

                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="field">
                                    نمره از 100 -> 85
                                </div>
                            </div>
                        </div>
                        <form action="" class="box">
                            <div class="box field is-horizontal">
                                <div class="field-body">
                                    <div class="field has-text-success">
                                        <b>تعداد پاسخ درست - 17</b>
                                    </div>
                                    <div class="field has-text-danger">
                                        <b>تعداد پاسخ نادرست - 2</b>
                                    </div>
                                    <div class="field has-text-link">
                                        <b>تعداد سوال بی پاسخ - 1</b>
                                    </div>
                                </div>
                            </div>




                            <div class="box">
                                <div class="field">


                                    <div class="field is-horizontal">
                                        <div class="field-body">
                                            <div class="field">

                                                {% if answers %}
                                                {% for answer in answers %}
                                                <label class="label">سوال - {{ answer.examquestionfkey }} جواب شما گزینه
                                                    : {{ answer.userexamanswer }} ــــ جواب صحیح گزینه :</label>

                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="field">
                                <div class="field">
                                    <a class="button is-warning" href="{% url 'tutorialexam' %}">
                                        بازگشت به صفحه آزمون ها
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


{% endblock %}