{% extends 'base.html' %}



{% block title %}{% if tutorialexamAdmins %} {% for tutorialexamAdmin in tutorialexamAdmins %}
{{ tutorialexamAdmin.title_page }} {% endfor %}
{% endif %}{% endblock %} {% block content %}
<!--test-->
<div class="hero is-fullheight" style="background-color:snow;">
    <div class="hero-body">
        <section class="container">
            <figure class="image is-3by1">
                {% if tutorialexamAdmins %} {% for tutorialexamAdmin in tutorialexamAdmins %}
                <img src="{{ tutorialexamAdmin.pic.url }}">
                {% endfor %}
                {% endif %}
            </figure>
            <div class="box">
                <section class="section " style="background-color:snow;">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title  has-text-dark">{% if tutorialexamAdmins %}
                        {% for tutorialexamAdmin in tutorialexamAdmins %}
                        {{ tutorialexamAdmin.title_search }} {% endfor %}
                        {% endif %}</h1>

                </section>
                <form method="post" id="formidsearch" action="{% url 'tutorialexam' %}"
                    data-searchselect-url="{% url 'tutorialexam' %}" class="section " style="background-color:snow;">
                    {% csrf_token %}
                    <div class="container ">
                        <div class="columns">
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded has-icons-right select is-fullwidth">
                                                <select id="maghtanidtemp" name="maghtan">
                                                    <option selected="True" disabled="disabled">مقطع تحصیلی</option>
                                                    {% if maghtaTahsilishows %}
                                                    {% for maghtaTahsilishow in maghtaTahsilishows %}
                                                    <option data-id="{{ maghtaTahsilishow.id }}"
                                                        value="{{ maghtaTahsilishow.id }}">
                                                        {{ maghtaTahsilishow.maghta }}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                    <div class="col-md-12">
                                                        <p>No maghta Available</p>
                                                    </div>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="field">
                                                <div class="control is-expanded has-icons-right select is-fullwidth">
                                                    <select id="reshtenidtemp" name="reshten">
                                                        <option selected="True" disabled="disabled">ابتدا مقطع تحصیلی را
                                                            انتخاب نمایید</option>
                                                        {% if reshteTahsilishows %}
                                                        {% for reshteTahsilishow in reshteTahsilishows %}
                                                        <option value="{{ reshteTahsilishow.id }}">
                                                            {{ reshteTahsilishow.reshte }}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('select[name="maghtan"]').on('change', function () {
                                    var sardaste_id = $("#maghtanidtemp option:selected").attr('data-id');

                                    if (sardaste_id) {
                                        $.ajax({
                                            url: '/exam/m/' + sardaste_id,
                                            type: 'GET',
                                            dataType: 'json',
                                            success: function (data) {
                                                console.log(data);
                                                $('select[name="reshten"]').empty();


                                                $.each(data, function (key, value) {
                                                    $('select[name="reshten"]').append('<option value="' + value + '">' + value + '</option>');
                                                });


                                            },
                                        })
                                    } else {
                                        $('select[name="reshten"]').empty();
                                    }
                                })
                            })
                        </script>




                        <div class="columns">
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.coursen }}" class="input is-fullwidth" placeholder="نام درس"
                                        type="text" name="coursen">
                                </div>
                            </div>
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.modaresn }}" class="input is-fullwidth"
                                        placeholder="نام مدرس" type="text" name="modaresn">
                                </div>
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button id="maghtanidtempbtn" class="button is-primary">
                                        {% if tutorialexamAdmins %} {% for tutorialexamAdmin in tutorialexamAdmins %}
                                        {{ tutorialexamAdmin.text_click }} {% endfor %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {% if searchcourseexamshows %}
            <section class="section " style="background-color:snow;">
                <div class="container ">
                    <h3 class="subtitle has-text-dark">آزمون های یافت شده</h3>
                    {% for searchcourseexamshow in searchcourseexamshows %}
                        <a  
                        {% if passexamscourses %} {% for passexamscourse in passexamscourses %}
                        {% if searchcourseexamshow.id == passexamscourse.id %}
                          style="pointer-events: none; border: orangered 2px solid;"
                        {% endif %}
                        {% endfor %}
                        {% endif %} 
                        href="{% url 'showexamtutorial' searchcourseexamshow.id %}" class="columns box">
                            <div class="column is-one-quarter">
                                <figure class="image">
                                    <img style="max-height: 150px;" src="{{ searchcourseexamshow.pic.url }}">
                                </figure>
                            </div>
                            <div class="column">
                                <div class="content has-text-right">
                                    <p class="has-text-dark is-vcentered">
                                        <strong>
                                            درس : {{ searchcourseexamshow.coursename }}
                                        </strong>
                                            {% if passexamscourses %} {% for passexamscourse in passexamscourses %}
                                            {% if searchcourseexamshow.id == passexamscourse.id %}
                                            <strong style="color: red;">
                                            <br>
                                            آزمون گذرانده شده است
                                            <br>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %} </strong>
                                        <strong>
                                            استاد : {{ searchcourseexamshow.modaresinfkey }}
                                        </strong><br>
                                        {% if searchcourseexamshow.hazine != 0 %}
                                        <small>
                                            هزینه : {{ searchcourseexamshow.hazine }} تومان
                                        </small>
                                        {% else %}
                                        <small>
                                            هزینه : رایگان
                                        </small>
                                        {% endif %}
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            <hr>

            {% if bettercourseexamshows %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialexamAdmins %}
                    {% for tutorialexamAdmin in tutorialexamAdmins %}
                    {{ tutorialexamAdmin.title_1 }} {% endfor %}
                    {% endif %}
                </h3>
                <div class="columns is-multiline">
                    {% for bettercourseexamshow in bettercourseexamshows %}
                    
                        <div class="column is-one-quarter">
                            <a 
                            {% if passexamscourses %} {% for passexamscourse in passexamscourses %}
                            {% if bettercourseexamshow.id == passexamscourse.id %}
                              style="pointer-events: none; border: orangered 2px solid;"
                            {% endif %}
                            {% endfor %}
                            {% endif %} 
                            href="{% url 'showexamtutorial' bettercourseexamshow.id %}" class="box">
                                <img src="{{ bettercourseexamshow.pic.url }}">
                                <p class="has-text-centered"><strong> درس :
                                        {{ bettercourseexamshow.coursename }}</strong><strong style="color: red;">
                                            {% if passexamscourses %} {% for passexamscourse in passexamscourses %}
                                            {% if bettercourseexamshow.id == passexamscourse.id %}
                                            <br>
                                            آزمون گذرانده شده است
                                              <br>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %} </p></strong>
                                <p class="has-text-centered">استاد : {{ bettercourseexamshow.modaresinfkey }}</p>
                                <p class="has-text-centered">{{ bettercourseexamshow.saattadris }} ساعت آموزش</p>
                            </a>
                        </div>
                    </span>
                    {% endfor %}

                </div>

            </section>
            <br>

            {% if bettercourseexamshows.has_other_pages %}
                    <div class="row columns is-centered">
                        <div class="box column is-3">
                            <ul class="pagination">
                                {% if bettercourseexamshows.has_pervious %}
                                <li class="page-item">
                                    <a href="?page3={{bettercourseexamshows.previous_page_number}}" class="page-link">
                                        &laquo;
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disable">
                                    <a class="page-link">
                                        &laquo;
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in bettercourseexamshows.paginator.page_range %}
                                {% if bettercourseexamshows.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{i}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a href="?page3={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if bettercourseexamshows.has_next %}
                                <li class="page-item">
                                    <a href="?page3={{bettercourseexamshows.next_page_number}}" class="page-link">
                                        &raquo;
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disable">
                                    <a class="page-link">
                                        &raquo;
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
            <hr>
            {% endif %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialexamAdmins %}
                    {% for tutorialexamAdmin in tutorialexamAdmins %}
                    {{ tutorialexamAdmin.title_2 }} {% endfor %}
                    {% endif %}</h3>
                <div class="columns is-multiline">
                    {% if newcourseexamshows %} {% for newcourseexamshow in newcourseexamshows %}
                    
                    
                    <div class="column is-one-quarter">
                                <a  
                                {% if passexamscourses %} {% for passexamscourse in passexamscourses %}
                                {% if newcourseexamshow.id == passexamscourse.id %}
                                  style="pointer-events: none; border: orangered 3px solid;"
                                {% endif %}
                                {% endfor %}
                                {% endif %} 
                                href="{% url 'showexamtutorial' newcourseexamshow.id %}" class="box">
                                    <img src="{{ newcourseexamshow.pic.url }}">
                                    <p class="has-text-centered"><strong> درس :
                                            {{ newcourseexamshow.coursename }}</strong><strong style="color: red;">
                                                {% if passexamscourses %} {% for passexamscourse in passexamscourses %}
                                                {% if newcourseexamshow.id == passexamscourse.id %}
                                                <br>
                                                  آزمون گذرانده شده است
                                                  <br>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %} 


                                            </strong>
                                    </p>
                                    <p class="has-text-centered">استاد : {{ newcourseexamshow.modaresinfkey }}</p>
                                    <p class="has-text-centered">{{ newcourseexamshow.saattadris }} ساعت آموزش</p>
                                </a>
                            </div>
                    </span>
                        {% endfor %}
                        {% endif %}
                        

            </section>
<br>

            {% if newcourseexamshows.has_other_pages %}
                    <div class="row columns is-centered">
                        <div class="box column is-3">
                            <ul class="pagination">
                                {% if newcourseexamshows.has_pervious %}
                                <li class="page-item">
                                    <a href="?page2={{newcourseexamshows.previous_page_number}}" class="page-link">
                                        &laquo;
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disable">
                                    <a class="page-link">
                                        &laquo;
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in newcourseexamshows.paginator.page_range %}
                                {% if newcourseexamshows.number == i %}
                                <li class="page-item active">
                                    <a class="page-link">{{i}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a href="?page2={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if newcourseexamshows.has_next %}
                                <li class="page-item">
                                    <a href="?page2={{newcourseexamshows.next_page_number}}" class="page-link">
                                        &raquo;
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disable">
                                    <a class="page-link">
                                        &raquo;
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
            <hr>
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">آزمون های گذرانده شده</h3>
                <div class="columns is-multiline">
                    {% if passexamscourses %} {% for passexamscourse in passexamscourses %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'examresaultshow' passexamscourse.id %}" class="box">
                            <img src="{{ passexamscourse.pic.url }}">
                            <p class="has-text-centered"><strong> درس : {{ passexamscourse.coursename }}</strong></p>
                            <p class="has-text-centered">استاد : {{ passexamscourse.modaresinfkey }}</p>
                            <p class="has-text-centered">{{ passexamscourse.saattadris }} ساعت آموزش</p>
                        </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>








            <section class="section " style="background-color:snow;">

                {% if questionExamsShow %}

                {% for questionExamsShow2 in questionExamsShow %}


                <h3 class="title has-text-centered has-text-dark">

                    {{ questionExamsShow2 }}
                </h3>

                {% endfor %} {% endif %}

            </section>


            <section class="section " style="background-color:snow;">

                {% if userExamsNameShow %}

                {% for userExamsNameShow2 in userExamsNameShow %}


                <h3 class="title has-text-centered has-text-dark">

                    {{ userExamsNameShow2 }}
                </h3>

                {% endfor %} {% endif %}

            </section>






        </section>
    </div>
</div>

{% endblock %}