{% extends 'base.html' %} exam resault {% block content %}
<!--test-->
<div class="container  has-background-white-ter">
    <section class="hero">
        <br><br><br><br><br><br>
        
        <div class="hero-body">
            <div class="container">
                <div class="columns is-primary is-centered">
                    <div class="column   is-8-widescreen">
                        <div class="box">
                            <h1 class="title has-text-centered">آزمون شما با موفقیت ثبت گردید <br><hr><a class="button is-warning"  href="{% url 'tutorialexam' %}">
                                برای بازگشت به صفحه آزمون ها اینجا کلیک کنید
                            </a></h1>
                            
                                
                            

                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
    </section>

</div>


{% endblock %}