{% extends 'base.html' %} {% block title %} welcome {% endblock %}
{% block content %} {% include '_partials/_alerts.html' %} 
















<!-- css -->
<style>
    /* Reset */
    
    * {
        margin: 0;
        padding: 0;
    }
    /* Slider */
    
    #slider2 {
        width: 100%;
        max-height: 500px;
        position: relative;
        overflow: hidden;
    }
    
    .slidese {
        width: 400%;
        height: 100%;
        position: relative;
        -webkit-animation: slidee 30s infinite;
        -moz-animation: slidee 30s infinite;
        animation: slidee 30s infinite;
    }
    
    .slidere {
        width: 25%;
        height: 100%;
        float: left;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    
    .image {
        width: 100%;
        height: 100%;
    }
    
    .image img {
        width: 100%;
        height: auto;
    }
    /* Contents */
    
    .contentslider {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
    }
    
    .contentslider-txte {
        width: 400px;
        height: 150px;
        float: left;
        position: relative;
        top: 300px;
        -webkit-animation: contentslider 7.5s infinite;
        -moz-animation: contentslider 7.5s infinite;
        animation: contentslider 7.5s infinite;
    }
    
    .contentslider-txte h1 {
        font-family: Arial;
        text-transform: uppercase;
        font-size: 24px;
        color: #fff;
        text-align: left;
        margin-left: 30px;
        padding-bottom: 10px;
    }
    
    .contentslider-txte h2 {
        font-family: arial;
        font-weight: normal;
        font-size: 14px;
        font-style: italic;
        color: #fff;
        text-align: left;
        margin-left: 30px;
    }
    /* Switch */
    
    .switch {
        width: 120px;
        height: 10px;
        position: absolute;
        bottom: 50px;
        z-index: 99;
        left: 30px;
    }
    
    .switch>ul {
        list-style: none;
    }
    
    .switch>ul>li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #333;
        float: left;
        margin-right: 5px;
        cursor: pointer;
    }
    
    .switch ul {
        overflow: hidden;
    }
    
    .on {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #f39c12;
        position: relative;
        -webkit-animation: on 30s infinite;
        -moz-animation: on 30s infinite;
        animation: on 30s infinite;
    }
    /* Animation */
    
    @-webkit-keyframes slidee {
        0%,
        100% {
            margin-left: 0%;
        }
        21% {
            margin-left: 0%;
        }
        25% {
            margin-left: -100%;
        }
        46% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        71% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        96% {
            margin-left: -300%;
        }
    }
    
    @-moz-keyframes slidee {
        0%,
        100% {
            margin-left: 0%;
        }
        21% {
            margin-left: 0%;
        }
        25% {
            margin-left: -100%;
        }
        46% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        71% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        96% {
            margin-left: -300%;
        }
    }
    
    @keyframes slidee {
        0%,
        100% {
            margin-left: 0%;
        }
        21% {
            margin-left: 0%;
        }
        25% {
            margin-left: -100%;
        }
        46% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        71% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        96% {
            margin-left: -300%;
        }
    }
    
    @-webkit-keyframes contentslider {
        0% {
            left: -420px;
        }
        10% {
            left: 0px;
        }
        30% {
            left: 0px;
        }
        40% {
            left: 0px;
        }
        50% {
            left: 0px;
        }
        60% {
            left: 0px;
        }
        70% {
            left: 0;
        }
        80% {
            left: -420px;
        }
        90% {
            left: -420px;
        }
        100% {
            left: -420px;
        }
    }
    
    @-moz-keyframes contentslider {
        0% {
            left: -420px;
        }
        10% {
            left: 0px;
        }
        30% {
            left: 0px;
        }
        40% {
            left: 0px;
        }
        50% {
            left: 0px;
        }
        60% {
            left: 0px;
        }
        70% {
            left: 0;
        }
        80% {
            left: -420px;
        }
        90% {
            left: -420px;
        }
        100% {
            left: -420px;
        }
    }
    
    @keyframes contentslider {
        0% {
            left: -420px;
        }
        10% {
            left: 20px;
        }
        15% {
            left: 0px;
        }
        30% {
            left: 0px;
        }
        40% {
            left: 0px;
        }
        50% {
            left: 0px;
        }
        60% {
            left: 0px;
        }
        70% {
            left: 0;
        }
        80% {
            left: -420px;
        }
        90% {
            left: -420px;
        }
        100% {
            left: -420px;
        }
    }
    
    @-webkit-keyframes on {
        0%,
        100% {
            margin-left: 0%;
        }
        21% {
            margin-left: 0%;
        }
        25% {
            margin-left: 15px;
        }
        46% {
            margin-left: 15px;
        }
        50% {
            margin-left: 30px;
        }
        71% {
            margin-left: 30px;
        }
        75% {
            margin-left: 45px;
        }
        96% {
            margin-left: 45px;
        }
    }
    
    @-moz-keyframes on {
        0%,
        100% {
            margin-left: 0%;
        }
        21% {
            margin-left: 0%;
        }
        25% {
            margin-left: 15px;
        }
        46% {
            margin-left: 15px;
        }
        50% {
            margin-left: 30px;
        }
        71% {
            margin-left: 30px;
        }
        75% {
            margin-left: 45px;
        }
        96% {
            margin-left: 45px;
        }
    }
    
    @keyframes on {
        0%,
        100% {
            margin-left: 0%;
        }
        21% {
            margin-left: 0%;
        }
        25% {
            margin-left: 15px;
        }
        46% {
            margin-left: 15px;
        }
        50% {
            margin-left: 30px;
        }
        71% {
            margin-left: 30px;
        }
        75% {
            margin-left: 45px;
        }
        96% {
            margin-left: 45px;
        }
    }
</style>

<!-- Slider -->

<section dir="ltr">
    <div id="slider2">
        <div class="slidese">
            {% if sliderImages %} {% for sliderImage in sliderImages %}
            <div class="slidere">       
                <div class="image">
                    <img src="{{ sliderImage.pic.url }}" />
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>



<section class="section has-background-light">
    <div class="container ">
        <!-- تبلیغات -->   
        <h2 class="subtitle has-text-dark has-text-justified">
            {% if advertises %} {% for advertise in advertises %}                   
            <div class="columns box">
                <div class="column  is-one-half has-text-centred">
                    <a href="{{ advertise.hru }}"> 
                        <figure class="image">
                            <img src=" {{ advertise.pic_hru.url }}">
                        </figure>
                    </a> 
                </div>
                <div class="column  is-one-half has-text-centred">
                    <a href="{{ advertise.hlu }}"> 
                        <figure class="image">
                            <img src=" {{ advertise.pic_hlu.url }}">
                        </figure>
                    </a> 
                </div>
            </div>
            <div class="columns box">
                <div class="column  is-one-half has-text-centred">
                    <a href="{{ advertise.hrd }}"> 
                        <figure class="image">
                            <img src=" {{ advertise.pic_hrd.url }}">
                        </figure>
                    </a> 
                </div>
                <div class="column  is-one-half has-text-centred">
                    <a href="{{ advertise.hld }}"> 
                        <figure class="image">
                            <img src=" {{ advertise.pic_hld.url }}">
                        </figure>
                    </a> 
                </div>
            </div>
            <br>
            {% endfor %}
            {% endif %}
        </h2>
    </div>
</section>





<section class="section box has-background-light">
    <div class="container">
        <h1 class="title has-text-centered section-title">جدیدترین اخبار</h1>
        <div class="section">
            <!-- Developers -->
            <div class="row columns">
                {% if  newnews %} {% for newnew in newnews %}
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <a href="{% url 'news' %}" class="box">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ newnew.pic.url }}" style="border-radius: 5%; height:180px"
                                        alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4 no-padding">{{ newnew.title }}</p><br>
                                <p class="subtitle is-6">ساعت بارگذاری : {{ newnew.time }}</p>
                                <p class="subtitle is-6">تاریخ بارگذاری : {{ newnew.date }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div> <!-- End Developers -->
</section>
<br>
{% if newnews.has_other_pages %}
        <div class="row columns is-centered">
            <div class="box column is-3">
                <ul class="pagination">
                    {% if newnews.has_pervious %}
                    <li class="page-item">
                        <a href="?page7={{newnews.previous_page_number}}"
                            class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% endif %}
                    {% for i in newnews.paginator.page_range %}
                    {% if newnews.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page7={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if newnews.has_next %}
                    <li class="page-item">
                        <a href="?page=7{{newnews.next_page_number}}" class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
<section class="section box has-background-light">
    <div class="container">
        <h1 class="title has-text-centered section-title">جدیدترین کلاس های آنلاین</h1>
        <div class="section">
            <!-- Developers -->
            <div class="row columns">
                {% if  newclassLinks %} {% for newclassLink in newclassLinks %}
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <a href="{{ newclassLink.link_url }}" class="box">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ newclassLink.link_pic.url }}" style="border-radius: 5%; height:180px"
                                        alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4 no-padding">{{ newclassLink.link_title }}</p>
                                <p class="subtitle is-6">ساعت برگزاری : {{ newclassLink.link_time }}</p>
                                <p class="subtitle is-6">تاریخ برگزاری : {{ newclassLink.link_date }}</p>
                                <p class="subtitle is-6">هزینه : {{ newclassLink.link_price }}</p>
                                <div class="content">
                                    <div class="background-icon"><span class="icon-barcode"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div> <!-- End Developers -->
</section>
<br>
{% if newclassLinks.has_other_pages %}
        <div class="row columns is-centered">
            <div class="box column is-3">
                <ul class="pagination">
                    {% if newclassLinks.has_pervious %}
                    <li class="page-item">
                        <a href="?page6={{newclassLinks.previous_page_number}}"
                            class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% endif %}
                    {% for i in newclassLinks.paginator.page_range %}
                    {% if newclassLinks.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page6={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if newclassLinks.has_next %}
                    <li class="page-item">
                        <a href="?page6={{newclassLinks.next_page_number}}" class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}









<section class="section box has-background-light">
    <div class="container">
        <h1 class="title has-text-centered section-title">جدیدترین ویدیوها</h1>
        <div class="section">
            <!-- Developers -->
            <div class="row columns">
                {% if newcoursevideos %} {% for newcoursevideo in newcoursevideos %}
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <a href="{% url 'showvideotutorial' newcoursevideo.id %}" class="box">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ newcoursevideo.pic.url }}" style="border-radius: 5%; height:180px"
                                        alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4 no-padding">{{ newcoursevideo.coursename }}</p>
                                <p class="subtitle is-6">{{ newcoursevideo.modaresinfkey }}</p>
                                <div class="content">
                                    <div class="background-icon"><span class="icon-barcode"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div> <!-- End Developers -->
</section>
<br>
{% if newcoursevideos.has_other_pages %}
        <div class="row columns is-centered">
            <div class="box column is-3">
                <ul class="pagination">
                    {% if newcoursevideos.has_pervious %}
                    <li class="page-item">
                        <a href="?page1={{newcoursevideos.previous_page_number}}"
                            class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% endif %}
                    {% for i in newcoursevideos.paginator.page_range %}
                    {% if newcoursevideos.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page1={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if newcoursevideos.has_next %}
                    <li class="page-item">
                        <a href="?page1={{newcoursevideos.next_page_number}}" class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}

        <section class="section box has-background-light">
            <div class="container">
                <h1 class="title has-text-centered section-title">جدیدترین صوت ها</h1>
                <div class="section">
                    <!-- Developers -->
                    <div class="row columns">
                        {% if newcoursevoices %} {% for newcoursevoice in newcoursevoices %}
                        <div class="column is-one-third">
                            <div class="card large" style="border-radius: 5%;">
                                <a href="{% url 'showvoicetutorial' newcoursevoice.id %}" class="box">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="{{ newcoursevoice.pic.url }}" style="border-radius: 5%; height:180px"
                                                alt="Image">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <p class="title is-4 no-padding">{{ newcoursevoice.coursename }}</p>
                                        <p class="subtitle is-6">{{ newcoursevoice.modaresinfkey }}</p>
                                        <div class="content">
                                            <div class="background-icon"><span class="icon-barcode"></span></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div> <!-- End Developers -->
        </section>
        <br>
        {% if newcoursevoices.has_other_pages %}
                <div class="row columns is-centered">
                    <div class="box column is-3">
                        <ul class="pagination">
                            {% if newcoursevoices.has_pervious %}
                            <li class="page-item">
                                <a href="?page8={{newcoursevoices.previous_page_number}}"
                                    class="page-link">
                                    &laquo;
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disable">
                                <a class="page-link">
                                    &laquo;
                                </a>
                            </li>
                            {% endif %}
                            {% for i in newcoursevoices.paginator.page_range %}
                            {% if newcoursevoices.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{i}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a href="?page8={{i}}" class="page-link">{{i}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if newcoursevoices.has_next %}
                            <li class="page-item">
                                <a href="?page8={{newcoursevoices.next_page_number}}" class="page-link">
                                    &raquo;
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disable">
                                <a class="page-link">
                                    &raquo;
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
        

<section class="section box has-background-light">
    <div class="container">
        <h1 class="title has-text-centered section-title">جدیدترین فایل ها</h1>
        <div class="section">

            <!-- Developers -->
            <div class="row columns">
                {% if newcoursefiles %} {% for newcoursefile in newcoursefiles %}
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <a href="{% url 'showfiletutorial' newcoursefile.id %}" class="box">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ newcoursefile.pic.url }}" style="border-radius: 5%; height:180px"
                                        alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4 no-padding">{{ newcoursefile.coursename }}</p>
                                <p class="subtitle is-6">{{ newcoursefile.modaresinfkey }}</p>
                                <div class="content">
                                    <div class="background-icon"><span class="icon-barcode"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div> <!-- End Developers -->
    </div>
</section>
<br>
{% if newcoursefiles.has_other_pages %}
        <div class="row columns is-centered">
            <div class="box column is-3">
                <ul class="pagination">
                    {% if newcoursefiles.has_pervious %}
                    <li class="page-item">
                        <a href="?page2={{newcoursefiles.previous_page_number}}"
                            class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% endif %}
                    {% for i in newcoursefiles.paginator.page_range %}
                    {% if newcoursefiles.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page2={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if newcoursefiles.has_next %}
                    <li class="page-item">
                        <a href="?page2={{newcoursefiles.next_page_number}}" class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}




<section class="section box has-background-light">
    <div class="container">
        <h1 class="title has-text-centered section-title">جدیدترین کتاب ها</h1>
        <div class="section">

            <!-- Developers -->
            <div class="row columns">
                {% if newcoursebooks %} {% for newcoursebook in newcoursebooks %}
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <a href="{% url 'showbooktutorial' newcoursebook.id %}" class="box">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ newcoursebook.pic.url }}" style="border-radius: 5%; height:180px"
                                        alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4 no-padding">{{ newcoursebook.coursename }}</p>
                                <p class="subtitle is-6">{{ newcoursebook.modaresinfkey }}</p>
                                <div class="content">
                                    <div class="background-icon"><span class="icon-barcode"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <!-- End Developers -->
        </div>
    </div>
</section>
<br>
{% if newcoursebooks.has_other_pages %}
        <div class="row columns is-centered">
            <div class="box column is-3">
                <ul class="pagination">
                    {% if newcoursebooks.has_pervious %}
                    <li class="page-item">
                        <a href="?page3={{newcoursebooks.previous_page_number}}"
                            class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% endif %}
                    {% for i in newcoursebooks.paginator.page_range %}
                    {% if newcoursebooks.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page3={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if newcoursebooks.has_next %}
                    <li class="page-item">
                        <a href="?page3={{newcoursebooks.next_page_number}}" class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}


<section class="section box has-background-light">
    <div class="container">
        <h1 class="title has-text-centered section-title">جدیدترین نرم افزارها</h1>
        <div class="section">

            <!-- Developers -->
            <div class="row columns">
                {% if newcourseapplications %} {% for newcourseapplication in newcourseapplications %}
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <a href="{% url 'showapplicationtutorial' newcourseapplication.id %}" class="box">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ newcourseapplication.pic.url }}"
                                        style="border-radius: 5%; height:180px" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4 no-padding">{{ newcourseapplication.coursename }}</p>
                                <p class="subtitle is-6">{{ newcourseapplication.modaresinfkey }}</p>
                                <div class="content">
                                    <div class="background-icon"><span class="icon-barcode"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <!-- End Developers -->
        </div>
    </div>

</section>
<br>
{% if newcourseapplications.has_other_pages %}
        <div class="row columns is-centered">
            <div class="box column is-3">
                <ul class="pagination">
                    {% if newcourseapplications.has_pervious %}
                    <li class="page-item">
                        <a href="?page4={{newcourseapplications.previous_page_number}}"
                            class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% endif %}
                    {% for i in newcourseapplications.paginator.page_range %}
                    {% if newcourseapplications.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page4={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if newcourseapplications.has_next %}
                    <li class="page-item">
                        <a href="?page4={{newcourseapplications.next_page_number}}" class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}


<section class="section box has-background-light">
    <div class="container">
        <h1 class="title has-text-centered section-title">جدیدترین آزمون ها</h1>
        <div class="section">
            <!-- Developers -->
            <div class="row columns">
                {% if newexams %} {% for newexam in newexams %}
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <a href="{% url 'tutorialexam' %}" class="box">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ newexam.pic.url }}" style="border-radius: 5%; height:180px"
                                        alt="Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4 no-padding">{{ newexam.coursename }}</p>
                                <p class="subtitle is-6">{{ newexam.modaresinfkey }}</p>
                                <div class="content">
                                    <div class="background-icon"><span class="icon-barcode"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div> <!-- End Developers -->
</section>
<br>
{% if newexams.has_other_pages %}
        <div class="row columns is-centered">
            <div class="box column is-3">
                <ul class="pagination">
                    {% if newexams.has_pervious %}
                    <li class="page-item">
                        <a href="?page5={{newexams.previous_page_number}}"
                            class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &laquo;
                        </a>
                    </li>
                    {% endif %}
                    {% for i in newexams.paginator.page_range %}
                    {% if newexams.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page5={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if newexams.has_next %}
                    <li class="page-item">
                        <a href="?page5={{newexams.next_page_number}}" class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disable">
                        <a class="page-link">
                            &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}






<section class="section has-background-light">
    <div class="container ">
        <!-- تبلیغات -->   
        <h2 class="subtitle has-text-dark has-text-justified">
            {% if advertises %} {% for advertise in advertises %}                   
            <div class="columns box">
                <div class="column  is-one-half has-text-centred">
                    <a href="{{ advertise.fru }}"> 
                        <figure class="image">
                            <img src=" {{ advertise.pic_fru.url }}">
                        </figure>
                    </a> 
                </div>
                <div class="column  is-one-half has-text-centred">
                    <a href="{{ advertise.flu }}"> 
                        <figure class="image">
                            <img src=" {{ advertise.pic_flu.url }}">
                        </figure>
                    </a> 
                </div>
            </div>
            <div class="columns box">
                <div class="column  is-one-half has-text-centred">
                    <a href="{{ advertise.frd }}"> 
                        <figure class="image">
                            <img src=" {{ advertise.pic_frd.url }}">
                        </figure>
                    </a> 
                </div>
                <div class="column  is-one-half has-text-centred">
                    <a href="{{ advertise.fld }}"> 
                        <figure class="image">
                            <img src=" {{ advertise.pic_fld.url }}">
                        </figure>
                    </a> 
                </div>
            </div>
            <br>
            {% endfor %}
            {% endif %}
        </h2>
    </div>
</section>



<section class="section info-tiles has-background-light">
    <h1 class="title has-text-centered section-title">آمار سایت</h1>
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ countvideos }}</p>
                <p class="subtitle">ویدیو</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ countvoices }}</p>
                <p class="subtitle">صوت</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ countfiles }}</p>
                <p class="subtitle">فایل</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ countbooks }}</p>
                <p class="subtitle">کتاب</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ countapplications }}</p>
                <p class="subtitle">نرم افزار</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ countexams }}</p>
                <p class="subtitle">آزمون</p>
            </article>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/showcase.js"></script>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    AOS.init({
        easing: "ease-out",
        duration: 800,
    });
</script>
{% endblock %}