{% extends 'base.html' %} {% block content %} {% include '_partials/_slider.html' %}
<!-- Begin Services Content -->
<section class="section box has-background-light ">
    <div class="section-color services" id="services">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 about-me" data-aos="fade-in" data-aos-easing="linear">
                    <h1 class="title has-text-centered section-title">دسته بندی کلاس ها</h1>

                    <h2 class="subtitle">
                        گروه آموزشی و تالیفی ما با چندین سال سابقه فعالیت در زمینه کنکور ارشد و دکتری و برگزاری کلاسهای کارآمد و مفید و اساتید مجرب آمار قبولی شگفت انگیزی را ارائه داده است. کلاسهای این گروه آموزشی در تمامی...
                    </h2>
                    <br />
                </div>
                <div class="columns is-12" style="overflow-x:scroll;">
                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <i class="fad fa-meteor fa-3x"></i>

                        <h1 class="subtitle">خون شناسی</h1>
                        <h2>
                            گروه آموزشی دکتر خلیلی دوره های آموزشی ویژه ای برای داوطلبان کنکور کارشناسی ارشد و دکتری دانشگاه آزاد و فراگیر پیام نور به صورت تخصصی برای رشته های گروه علوم زیستی و علوم پایه پزشکی برگزار میکند
                        </h2>
                    </div>
                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <i class="fas fa-paint-brush fa-3x"></i>
                        <h1 class="subtitle">خون شناسی</h1>
                        <h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </h2>
                    </div>
                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <i class="fas fa-rocket fa-3x"></i>
                        <h1 class="subtitle">خون شناسی</h1>
                        <h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </h2>
                    </div>

                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <i class="fas fa-upload fa-3x"></i>
                        <h1 class="subtitle">خون شناسی</h1>
                        <h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </h2>
                    </div>
                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <i class="fas fa-bus fa-3x"></i>
                        <h1 class="subtitle">خون شناسی</h1>
                        <h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </h2>
                    </div>
                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <i class="fas fa-code fa-3x"></i>
                        <h1 class="subtitle">خون شناسی</h1>
                        <h2>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- End Services Content -->



<section class="section box has-background-light">
    <div class="container">
        <h1 class="title has-text-centered section-title">جدیدترین دوره ها</h1>

        <h2 class="subtitle">
            لیست نمایندگیهای فعال گروه آموزشی تالیفی پژوهشی دکترخلیلی در سراسر کشور ارائه خدمات کلاس، آزمون، مشاوره، درسنامه، کتاب و مشاوره رایگان در مقطع کارشناسی ارشد و دکتری وزارت بهداشت
        </h2>
        <br />
        <div class="section">

            <!-- Developers -->
            <div class="row columns">
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <div class="card-image">
                            <figure class="image">
                                <img src="static\images\pic03.jpg" style="border-radius: 5%;" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4 no-padding">خون شناسی</p>
                            <p class="subtitle is-6">نام استاد</p>
                            <p><span class="title is-6"><a href="http://twitter.com/#">مشاهده درس های این دوره</a></span></p>
                            <div class="content">
                                داوطلبان میتوانند جهت تهیه محصولات و خدمات موسسه دکترخلیلی در سراسر کشور از تاریخ 5 الی 8 بهمن ماه به نمایندگی شهر خود مراجعه نمایند.
                                <div class="background-icon"><span class="icon-barcode"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <div class="card-image">
                            <figure class="image">
                                <img src="static\images\pic03.jpg" style="border-radius: 5%;" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4 no-padding">خون شناسی</p>
                            <p class="subtitle is-6">نام استاد</p>
                            <p><span class="title is-6"><a href="http://twitter.com/#">مشاهده درس های این دوره</a></span></p>
                            <div class="content">
                                داوطلبان میتوانند جهت تهیه محصولات و خدمات موسسه دکترخلیلی در سراسر کشور از تاریخ 5 الی 8 بهمن ماه به نمایندگی شهر خود مراجعه نمایند.
                                <div class="background-icon"><span class="icon-barcode"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card large" style="border-radius: 5%;">
                        <div class="card-image">
                            <figure class="image">
                                <img src="static\images\pic03.jpg" style="border-radius: 5%;" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4 no-padding">خون شناسی</p>
                            <p class="subtitle is-6">نام استاد</p>
                            <p><span class="title is-6"><a href="http://twitter.com/#">مشاهده درس های این دوره</a></span></p>
                            <div class="content">
                                داوطلبان میتوانند جهت تهیه محصولات و خدمات موسسه دکترخلیلی در سراسر کشور از تاریخ 5 الی 8 بهمن ماه به نمایندگی شهر خود مراجعه نمایند.
                                <div class="background-icon"><span class="icon-barcode"></span></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Developers -->
</section>


<!-- Begin Services Content -->
<section class="section box has-background-light">
    <div class="section-color services" id="services">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 about-me" data-aos="fade-in" data-aos-easing="linear">
                    <h1 class="title has-text-centered section-title">پربازدید ترین دوره ها</h1>

                    <h2 class="subtitle">
                        گروه آموزشی و تالیفی ما با چندین سال سابقه فعالیت در زمینه کنکور ارشد و دکتری و برگزاری کلاسهای کارآمد و مفید و اساتید مجرب آمار قبولی شگفت انگیزی را ارائه داده است. کلاسهای این گروه آموزشی در تمامی...
                    </h2>
                    <br />
                </div>
                <div class="columns">
                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <img src="static\images\pic08.jpg" style="border-radius: 50%; width: 180px;height: 180px; align-items: center;">
                        <b><h1 class="subtitle">خون شناسی</h1></b>
                        <h2>
                            گروه آموزشی دکتر خلیلی دوره های آموزشی ویژه ای برای داوطلبان کنکور کارشناسی ارشد و دکتری دانشگاه آزاد و فراگیر پیام نور به صورت تخصصی برای رشته های گروه علوم زیستی و علوم پایه پزشکی برگزار میکند.
                        </h2>
                    </div>
                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <img src="static\images\pic08.jpg" style="border-radius: 50%; width: 180px;height: 180px; align-items: center;">
                        <b><h1 class="subtitle">خون شناسی</h1></b>
                        <h2>
                            گروه آموزشی دکتر خلیلی دوره های آموزشی ویژه ای برای داوطلبان کنکور کارشناسی ارشد و دکتری دانشگاه آزاد و فراگیر پیام نور به صورت تخصصی برای رشته های گروه علوم زیستی و علوم پایه پزشکی برگزار میکند.
                        </h2>
                    </div>
                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <img src="static\images\pic08.jpg" style="border-radius: 50%; width: 180px;height: 180px; align-items: center;">
                        <b><h1 class="subtitle">خون شناسی</h1></b>
                        <h2>
                            گروه آموزشی دکتر خلیلی دوره های آموزشی ویژه ای برای داوطلبان کنکور کارشناسی ارشد و دکتری دانشگاه آزاد و فراگیر پیام نور به صورت تخصصی برای رشته های گروه علوم زیستی و علوم پایه پزشکی برگزار میکند.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Content -->


<section class="section info-tiles has-background-light">

    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">439k</p>
                <p class="subtitle">Users</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">59k</p>
                <p class="subtitle">Products</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">3.4k</p>
                <p class="subtitle">Open Orders</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">19</p>
                <p class="subtitle">Exceptions</p>
            </article>
        </div>
    </div>
</section>

<!-- Begin Work Content -->
<section class="section has-background-light">
    <div class="section-dark my-work" id="my-work">
        <div class="container">
            <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-12">
                    <h1 class="title has-text-centered section-title">My Work</h1>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=0');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=10');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=20');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=30');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=40');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=50');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=60');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item" style="background-image: url('https://picsum.photos/320/180?image=70');"></figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Work Content -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/showcase.js"></script>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    AOS.init({
        easing: "ease-out",
        duration: 800,
    });
</script>
{% endblock %}