{% extends 'base.html' %} {% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background">
    <img alt="Fill Murray" class="hero-background is-transparent" src="static/images/bg.jpg" />
    <div class="hero-body">
        <section class="container">
            <figure class="image is-3by1">
                <img src="/static/images/book.jpg">
            </figure>


            <section class="section has-background-light">
                <div class="container ">
                    <a href="{% url 'showbooktutorial' %}" class="columns box">
                        <div class="column is-one-quarter">
                            <figure class="image">
                                <img src="static/images/pic08.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-vcentered">
                                    <strong>آموزش ریاضی</strong><br>
                                    <strong>استاد مهدی زهرایی</strong><br>
                                    <small>11 ساعت آموزش</small>
                                    <br> در گذشته، فرض بر این بود که ریاضیات برای گروه خاصی از افراد جامعه است و ریاضیات را همه نمی توانند یاد بگیرند. با تغییر هدف آموزش ریاضی، ضرورت آموزش ریاضی برای همگان درک شد. برای کمک به درک بهتر از مسائل، باید ریاضیات
                                    به صورت یک کل، آموزش داده شود. متأسفانه در دروس آکادمیک، ریاضیات را به صورت یک جزء به ما آموخته اند و صورت کلی از ریاضی در ذهن اکثر دانشجویان نقش نبسته است. بعد از یادگیری مفاهیم پایه در این آموزش می توان به یادگیری
                                    مفاهیم موجود در ریاضی ۱ مانند حد و پیوستگی، مشتق، انتگرال، دنباله و سری و اعداد مختلط پرداخت. این آموزش برای دانشجویان پیام نور نیز مناسب ارزیابی می شود.
                                </p>
                            </div>
                        </div>
                    </a>
                    <br>
                    <a href="{% url 'showbooktutorial' %}" class="columns box">
                        <div class="column is-one-quarter">
                            <figure class="image">
                                <img src="static/images/pic08.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-vcentered">
                                    <strong>آموزش ریاضی</strong><br>
                                    <strong>استاد مهدی زهرایی</strong><br>
                                    <small>11 ساعت آموزش</small>
                                    <br> در گذشته، فرض بر این بود که ریاضیات برای گروه خاصی از افراد جامعه است و ریاضیات را همه نمی توانند یاد بگیرند. با تغییر هدف آموزش ریاضی، ضرورت آموزش ریاضی برای همگان درک شد. برای کمک به درک بهتر از مسائل، باید ریاضیات
                                    به صورت یک کل، آموزش داده شود. متأسفانه در دروس آکادمیک، ریاضیات را به صورت یک جزء به ما آموخته اند و صورت کلی از ریاضی در ذهن اکثر دانشجویان نقش نبسته است. بعد از یادگیری مفاهیم پایه در این آموزش می توان به یادگیری
                                    مفاهیم موجود در ریاضی ۱ مانند حد و پیوستگی، مشتق، انتگرال، دنباله و سری و اعداد مختلط پرداخت. این آموزش برای دانشجویان پیام نور نیز مناسب ارزیابی می شود.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </section>

        </section>
    </div>
</div>

{% endblock %}