{% extends 'base.html' %}
{% block title %}
{% if linksAdmins %}
{% for linksAdmin in linksAdmins %}
{{ linksAdmin.title_page }}
{% endfor %}
{% endif %}
{% endblock %}
{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background-dark">
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <br><br>
            <h1 class="title has-text-centered">{% if linksAdmins %} {% for linksAdmin in linksAdmins %}
                {{ linksAdmin.title_page }}
                {% endfor %}
                {% endif %}</h1>
            <!--        عکس تیتر بالای صفحه-->
            <figure class="image is-3by1">
                {% if linksAdmins %} {% for linksAdmin in linksAdmins %}
                <img src=" {{ linksAdmin.pic.url }}">
                {% endfor %}
                {% endif %}
            </figure>

            <section class="section has-background-light">
                <div class="container ">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title has-text-dark has-text-centered">{% if linksAdmins %}
                        {% for linksAdmin in linksAdmins %}
                        {{ linksAdmin.title_links }}
                        {% endfor %}
                        {% endif %}</h1><br><br><br>
                    <!--            توضحات زیر عکس اول درباره ما-->
                    <h2 class="subtitle has-text-dark has-text-justified">
                        {% if allLinkss %} {% for alllinks in allLinkss %}                   
                        <a href="{{ alllinks.link_url }}" class="columns box">
                            <div class="content has-text-centred">
                                <p class="has-text-dark is-vcentered">
                                        {{ alllinks.link_title }}
                                </p>
                            </div>
                        </a>
                        <br>
                        {% endfor %}
                        {% endif %}
                    </h2>
                </div>
            </section>
        </div>
    </div>
</div>
</div>
{% endblock %}