{% extends 'base.html' %}
{% block title %}
{% if newsAdmins %}
{% for newsAdmin in newsAdmins %}
{{ newsAdmin.title_page }}
{% endfor %}
{% endif %}
{% endblock %}
{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary" style="background-color:snow;">
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <br><br>
            <h1 class="title has-text-dark has-text-centered">{% if newsAdmins %} {% for newsAdmin in newsAdmins %}
                {{ newsAdmin.title_page }}
                {% endfor %}
                {% endif %}</h1>
            <!--        عکس تیتر بالای صفحه-->
            <figure class="image is-3by1">
                {% if newsAdmins %} {% for newsAdmin in newsAdmins %}
                <img src=" {{ newsAdmin.pic.url }}">
                {% endfor %}
                {% endif %}
            </figure>

            <section class="section " style="background-color:snow;">
                <div class="container ">
                    <!--        تیتر توضیحات زیر عکس اول -->
                    <h1 class="title has-text-dark has-text-centered">{% if newsAdmins %}
                        {% for newsAdmin in newsAdmins %}
                        {{ newsAdmin.title_news }}
                        {% endfor %}
                        {% endif %}</h1><br><br><br>
                    <!--            توضحات زیر عکس اول -->
                    <h2 class="subtitle has-text-dark has-text-justified">
                        {% if newss %} {% for news in newss %}                   
                        <div class="columns box">
                            <div class="column  is-one-quarter content has-text-centred">
                                <figure class="image">
                                    <img src=" {{ news.pic.url }}">
                                </figure>
                            </div>
                            <div class="column content has-text-centred">
                                <p class="column has-text-dark is-vcentered">
                                   <b> {{ news.title }}</b>
                                </p>
                                <p class="column has-text-dark is-vcentered">
                                    {{ news.about|safe }}
                                </p>
                                <p class="column has-text-dark is-vcentered">
                                    <b>ساعت انتشار خبر : </b>{{ news.time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b>تاریخ انتشار خبر :  </b>{{ news.date }}
                                </p>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                        {% endif %}
                    </h2>
                </div>
            </section>
        </div>
    </div>
</div>
</div>
{% endblock %}