{% extends 'base.html' %}
{% block title %}{{ coursebook.coursename }} {% endblock %}
{% block content %}
<script defer>
    function outputsize() {
        let s = document.getElementById("columnssize").clientHeight;
        let booksize = document.getElementById('mybook').style.height = s + "px";
        console.log(s)
    }
    outputsize()
</script>


<div class="hero is-fullheight  " style="background-color:snow;">
    <div class="hero-body">
        <div class="container">
            <section class="section " style="background-color:snow;">
                <div class="container ">
                    <div class="columns">
                        <div class="column is-centered has-text-centered ">
                            
                            <img class="is-centered has-text-centered" src="{{ coursebook.pic.url }}">
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-centered">
                                    <h3 class="has-text-dark has-text-centered">نام درس : {{ coursebook.coursename }}
                                    </h3><br>
                                    <h4 class="has-text-dark">نویسنده : {{ coursebook.modaresinfkey }}</h4><br>
                                    <h5 class="has-text-dark">این کتاب شامل  {{ coursebook.saattadris }} صفحه می باشد</h5><br>
                                    
                                    {% if coursebook.hazine != 0 %}
                                    <h5 class="has-text-dark">هزینه :{{ coursebook.hazine }} تومان </h5>
                                    {% else %}
                                    <h5 class="has-text-dark">هزینه : رایگان </h5>
                                    {% endif %}

                                    <br>
                                    <h5 class="has-text-dark">{{ coursebook.tozihat|safe }}</h5>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="section " style="background-color:snow;">
                <div class="columns is-multiline">
                    <div class="column">
                        {% if user.is_authenticated %}
                            {% if coursebook.hazine != 0 %}



                            {% if buyss %}
                            <!-- خرید انجام شده باشد -->
                            <nav class="panel">
                                    <p class="panel-heading">
                                        لیست کتاب های این مبحث
                                    </p>
                                    {% if bookss %} {% for books in bookss %}
                                    {% if books.booklink_is_published == True %}
                                    <a href="{{ books.booklink }}" class="panel-block">
                                        <span class="panel-icon">
                                            <i class="fas fa-book" aria-hidden="true"></i>
                                        </span>
                                        {{ books.bookname }}
                                    </a>
                                    {% endif %}
                                    {% if books.bookfile_is_published == True %}
                                    <a href="{{ books.bookfile.url }}" class="panel-block">
                                        <span class="panel-icon">
                                            <i class="fas fa-book" aria-hidden="true"></i>
                                        </span>
                                        {{ books.bookname }} (لینک مستقیم)
                                    </a>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                            </nav>                       
                            {% else %}
                            <!-- وگرنه هزینه باید بپردازد -->
                            <form action="{% url 'request' %}" method="POST">
                                {% csrf_token %}
                                    <div class="panel" style="width: 100%;">
                                        <p class="panel-heading">
                                            برای دیدن لینک های دانلود باید هزینه آن را پرداخت نمایید 
                                            <br><br>
                                            هزینه : {{ coursebook.hazine }} تومان
                                            <input type="number" name="userid" value="{{ user.id }}" hidden />
                                            <input type="text" name="username" value="{{ user.username }}" hidden />
                                            <input type="number" name="courseid" value="{{ coursebook.id }}" hidden />
                                            <input type="text" name="coursename" value="{{ coursebook.coursename }}" hidden />
                                            <input type="text" name="coursetype" value="4" hidden />
                                            <input type="text" name="description" value="  کتاب {{ coursebook.coursename }} با آیدی {{ coursebook.id }} توسط یوزر {{ user.username }} با آیدی {{ user.id }} خریداری شد" hidden />                                          
                                            <p class="control is-expanded  has-icons-right">
                                                <input class="input" type="email" name="email" placeholder="ایمیل" value="{{ user.email }}" required />
                                                <span class="icon is-small is-right">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                                <span class="icon is-small is-right">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                            </p>
                                            <p class="control is-expanded has-icons-right">
                                                <input class="input" type="number" min="0" max="9999999999999" name="mobile" placeholder="تلفن همراه" required/>
                                                <span class="icon is-small is-right">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                            </p>
                                        </p>
                                        <br><button>برای پرداخت اینجا کلیک کنید</button><br><br>
                                    </div>
                            </form>
                            {% endif %}



                            {% else %}
                            <nav class="panel">
                                <p class="panel-heading">
                                    لیست کتاب های این مبحث
                                </p>
                                {% if bookss %} {% for books in bookss %}
                                {% if books.booklink_is_published == True %}
                                <a href="{{ books.booklink }}" class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span>
                                    {{ books.bookname }}
                                </a>
                                {% endif %}
                                {% if books.bookfile_is_published == True %}
                                <a href="{{ books.bookfile.url }}" class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span>
                                    {{ books.bookname }} (لینک مستقیم)
                                </a>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </nav>
                            {% endif %}
                        {% else %}
                            {% if coursebook.hazine != 0 %}
                            <a href="{% url 'login' %}" class="panel-heading box" style="text-align: center;">
                                برای دیدن لینک های دانلود باید ابتدا وارد حساب کاربری خود شوید 
                                <br><br><strong style="text-align: center; color: crimson;">برای ورود اینجا کلیک کنید</strong><br><br>
                                <input type="text" name="amount" value="{{ coursebook.hazine }}" hidden />هزینه : {{ coursebook.hazine }} تومان
                            </a>
                            {% else %}
                            <nav class="panel">
                                <p class="panel-heading">
                                    لیست کتاب های این مبحث
                                </p>
                                {% if bookss %} {% for books in bookss %}
                                {% if books.booklink_is_published == True %}
                                <a href="{{ books.booklink }}" class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span>
                                    {{ books.bookname }}
                                </a>
                                {% endif %}
                                {% if books.bookfile_is_published == True %}
                                <a href="{{ books.bookfile.url }}" class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span>
                                    {{ books.bookname }} (لینک مستقیم)
                                </a>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </nav>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </section> 
        </div>
    </div>
</div>

{% endblock %}