{% extends 'base.html' %}
{% block title %}{{ coursevideo.coursename }} {% endblock %}
{% block content %}
<script defer>
    function outputsize() {
        let s = document.getElementById("columnssize").clientHeight;
        let videosize = document.getElementById('myvideo').style.height = s + "px";
        console.log(s)
    }
    outputsize()
</script>


<div class="hero is-fullheight  has-background-dark">
    <div class="hero-body">
        <div class="container">
            <section class="section has-background-light">
                <div class="container ">
                    <div class="columns">
                        <div class="column is-centered has-text-centered">
                                <img class="is-centered has-text-centered" src="{{ coursevideo.pic.url }}">
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-centered">
                                    <h3 class="has-text-dark has-text-centered">نام درس : {{ coursevideo.coursename }}</h3><br>
                                    <h4 class="has-text-dark">مدرس : {{ coursevideo.modaresinfkey }}</h4><br>
                                    <small class="has-text-dark">مدت زمان آموزش : {{ coursevideo.saattadris }} دقیقه </small><br>
                                    {% if coursevideo.hazine != 0 %}
                                    <small class="has-text-dark">هزینه :{{ coursevideo.hazine }} ریال </small>
                                    {% endif %}
                                    <br><h5 class="has-text-dark">{{ coursevideo.tozihat }}</h5>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="section has-background-light">
                <div class="columns">
                    <div id="myvideo" class="column" style="overflow-y:scroll;">
                        <nav class="panel">
                            <p class="panel-heading">
                                لیست فیلم های این مبحث
                            </p>
                            {% if videoss %} {% for videos in videoss %}
                            {% if videos.videolink_is_published == True %}
                            <a href="{{ videos.videolink }}" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                </span>
                                {{ videos.videoname }}
                            </a>
                            {% endif %}
                            {% if videos.videofile_is_published == True %}

                            <a href="{{ videos.videofile.url }}" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                </span>
                                {{ videos.videoname }} (لینک مستقیم)
                            </a>
                            {% endif %}
                            
                            {% endfor %}
                            {% endif %}

                        
                            
                                
                            





                        </nav>
                    </div>

                </div>

            </section>
        </div>
    </div>
</div>

{% endblock %}