{% extends 'base.html' %}
{% block title %}{{ courseapplication.coursename }} {% endblock %}
{% block content %}
<script defer>
    function outputsize() {
        let s = document.getElementById("columnssize").clientHeight;
        let applicationsize = document.getElementById('myapplication').style.height = s + "px";
        console.log(s)
    }
    outputsize()
</script>


<div class="hero is-fullheight  has-background-dark">
    <div class="hero-body">
        <div class="container">
            <section class="section has-background-light">
                <div class="container ">
                    <div class="columns">
                        <div class="column is-centered has-text-centered">
                            <img class="is-centered has-text-centered" src="{{ courseapplication.pic.url }}">
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-centered">
                                    <h3 class="has-text-dark has-text-centered">نام درس : {{ courseapplication.coursename }}
                                    </h3><br>
                                    <h4 class="has-text-dark">مدرس : {{ courseapplication.modaresinfkey }}</h4><br>
                                    {% if courseapplication.hazine != 0 %}
                                    <small class="has-text-dark">هزینه :{{ courseapplication.hazine }} ریال </small>
                                    {% endif %}
                                    <br>
                                    <h5 class="has-text-dark">{{ courseapplication.tozihat }}</h5>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="section has-background-light">
                <div class="columns is-multiline">
                    <div class="column">
                        {% if user.is_authenticated %}
                            {% if courseapplication.hazine != 0 %}



                            {% if buyss %}
                            <!-- خرید انجام شده باشد -->
                            <nav class="panel">
                                    <p class="panel-heading">
                                        لیست فیلم های این مبحث
                                    </p>
                                    {% if applicationss %} {% for applications in applicationss %}
                                    {% if applications.applicationlink_is_published == True %}
                                    <a href="{{ applications.applicationlink }}" class="panel-block">
                                        <span class="panel-icon">
                                            <i class="fas fa-book" aria-hidden="true"></i>
                                        </span>
                                        {{ applications.applicationname }}
                                    </a>
                                    {% endif %}
                                    {% if applications.applicationapplication_is_published == True %}
                                    <a href="{{ applications.applicationapplication.url }}" class="panel-block">
                                        <span class="panel-icon">
                                            <i class="fas fa-book" aria-hidden="true"></i>
                                        </span>
                                        {{ applications.applicationname }} (لینک مستقیم)
                                    </a>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                            </nav>                       
                            {% else %}
                            <!-- وگرنه هزینه باید بپردازد -->
                            <form action="{% url 'request' %}" method="POST">
                                {% csrf_token %}
                                    <div class="panel" style="width: 100%;">
                                        <p class="panel-heading">
                                            برای دیدن لینک های دانلود باید هزینه آن را پرداخت نمایید 
                                            <br><br>
                                            هزینه : {{ courseapplication.hazine }} تومان
                                            <input type="number" name="userid" value="{{ user.id }}" hidden />
                                            <input type="text" name="username" value="{{ user.username }}" hidden />
                                            <input type="number" name="courseid" value="{{ courseapplication.id }}" hidden />
                                            <input type="text" name="coursename" value="{{ courseapplication.coursename }}" hidden />
                                            <input type="text" name="coursetype" value="5" hidden />
                                            <input type="text" name="description" value="  ویدیو {{ courseapplication.coursename }} با آیدی {{ courseapplication.id }} توسط یوزر {{ user.username }} با آیدی {{ user.id }} خریداری شد" hidden />                                           
                                            <p class="control is-expanded  has-icons-right">
                                                <input class="input" type="email" name="email" placeholder="ایمیل" value="{{ user.email }}" required />
                                                <span class="icon is-small is-right">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                                <span class="icon is-small is-right">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                            </p>
                                            <p class="control is-expanded has-icons-right">
                                                <input class="input" type="number" min="0" max="9999999999999" name="mobile" placeholder="تلفن همراه" required/>
                                                <span class="icon is-small is-right">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                            </p>
                                        </p>
                                        <br><button>برای پرداخت اینجا کلیک کنید</button><br><br>
                                    </div>
                            </form>
                            {% endif %}



                            {% else %}
                            <nav class="panel">
                                <p class="panel-heading">
                                    لیست فیلم های این مبحث
                                </p>
                                {% if applicationss %} {% for applications in applicationss %}
                                {% if applications.applicationlink_is_published == True %}
                                <a href="{{ applications.applicationlink }}" class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span>
                                    {{ applications.applicationname }}
                                </a>
                                {% endif %}
                                {% if applications.applicationapplication_is_published == True %}
                                <a href="{{ applications.applicationapplication.url }}" class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span>
                                    {{ applications.applicationname }} (لینک مستقیم)
                                </a>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </nav>
                            {% endif %}
                        {% else %}
                            {% if courseapplication.hazine != 0 %}
                            <a href="{% url 'login' %}" class="panel-heading box" style="text-align: center;">
                                برای دیدن لینک های دانلود باید ابتدا وارد حساب کاربری خود شوید 
                                <br><br><strong style="text-align: center; color: crimson;">برای ورود اینجا کلیک کنید</strong><br><br>
                                <input type="text" name="amount" value="{{ courseapplication.hazine }}" hidden />هزینه : {{ courseapplication.hazine }} تومان
                            </a>
                            {% else %}
                            <nav class="panel">
                                <p class="panel-heading">
                                    لیست فیلم های این مبحث
                                </p>
                                {% if applicationss %} {% for applications in applicationss %}
                                {% if applications.applicationlink_is_published == True %}
                                <a href="{{ applications.applicationlink }}" class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span>
                                    {{ applications.applicationname }}
                                </a>
                                {% endif %}
                                {% if applications.applicationapplication_is_published == True %}
                                <a href="{{ applications.applicationapplication.url }}" class="panel-block">
                                    <span class="panel-icon">
                                        <i class="fas fa-book" aria-hidden="true"></i>
                                    </span>
                                    {{ applications.applicationname }} (لینک مستقیم)
                                </a>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </nav>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </section>  
        </div>
    </div>
</div>

{% endblock %}