{% extends 'base.html' %}
{% block title %}{{ coursebook.coursename }} {% endblock %}
{% block content %}
<script defer>
    function outputsize() {
        let s = document.getElementById("columnssize").clientHeight;
        let booksize = document.getElementById('mybook').style.height = s + "px";
        console.log(s)
    }
    outputsize()
</script>


<div class="hero is-fullheight  " style="background-color:snow;">
    <div class="hero-body">
        <div class="container">
            <section class="section " style="background-color:snow;">
                <div class="container ">
                    <div class="columns">
                        <div class="column is-centered has-text-centered ">

                            <img class="is-centered has-text-centered" src="{{ coursebook.pic.url }}">
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-centered">
                                <h3 class="has-text-dark has-text-centered">نام درس : {{ coursebook.coursename }}
                                </h3><br>
                                <h4 class="has-text-dark">نویسنده : {{ coursebook.modaresinfkey }}</h4><br>
                                <h5 class="has-text-dark">این کتاب شامل {{ coursebook.saattadris }} صفحه می باشد</h5>
                                <br>
                                <h4 class="has-text-dark">حجم فایل : {{ coursebook.size }} گیگابایت</h4><br>

                                



                                {% if coursebook.off_is_published == True %}
                                <p>
                                    <strong><s>هزینه : {{ coursebook.hazine }} تومان</s><br>
                                        <span style="color: red;">هزینه : {{ coursebook.hazineoff }}
                                            تومان</span></strong>
                                </p>
                                {% else %}
                                {% if coursebook.hazine != 0 %}
                                <small class="has-text-dark">هزینه :{{ coursebook.hazine }} تومان </small>
                                {% else %}
                                <small class="has-text-dark">هزینه : رایگان</small>
                                {% endif %}
                                {% endif %}





                                </p>
                                <br>

                            </div>

                        </div>
                    </div>

                </div>








                <div class="container">
                    {% if bookpicss %}
                    <nav class="panel" >
                        <p class="panel-heading">
                            عکس های محصول
                        </p>
                       <div class="columns is-multiline" >
                        {% for bookpics in bookpicss %}
                        {% if bookpics.bookpiclink_is_published == True %}

                        <div class="column  is-2"  >
                            <a href="#ex1{{ bookpics.id }}" rel="modal:open"> 
                                <figure class="image">
                                    <img class="is-centered has-text-centered" style="height: 180px; width: 180px;" alt="{{ bookpics.bookpicname }}" src="{{ bookpics.bookpiclink }}">
                                </figure>
                            </a> 
                        </div>
                        <div id="ex1{{ bookpics.id }}" class="modal">
                            <div class="hero-body">
                                <a href="#ex1{{ bookpics.id }}" rel="modal:close">
                                    <div class="modal-background"></div>
                                    <div class="slideshow-container">
                                        <div id="numbertext" class="numbertext"></div>
                                        <img style="height:600px" alt="{{ bookpics.bookpicname }}" src="{{ bookpics.bookpiclink }}">
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% if bookpics.bookpicfile_is_published == True %}
                        <div class="column  is-2" >
                            <a href="#ex2{{ bookpics.id }}" rel="modal:open"> 
                                <figure class="image">
                                    <img class="is-centered has-text-centered" style="height: 180px; width: 180px;" alt="{{ bookpics.bookpicname }}" src="{{ bookpics.bookpicfile.url }}">
                                </figure>
                            </a> 
                        </div>
                        <div id="ex2{{ bookpics.id }}" class="modal">
                            <div class="hero-body">
                                <a href="#ex1{{ bookpics.id }}" rel="modal:close">
                                    <div class="modal-background"></div>
                                    <div class="slideshow-container">
                                        <div id="numbertext" class="numbertext"></div>
                                        <img style="height:600px" alt="{{ bookpics.bookpicname }}" src="{{ bookpics.bookpicfile.url }}">
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    </nav>
                    <hr><hr>
                    {% endif %}
                </div>








                <div class="container ">

                    <div class="columns">
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-centered">
                                <p class="has-text-dark">{{ coursebook.tozihat|safe }}</p>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="section " style="background-color:snow;">
                <div class="columns is-multiline">
                    <div class="column">
                        {% if user.is_authenticated %}
                        {% if coursebook.hazine != 0 %}



                        {% if buyss %}
                        <!-- خرید انجام شده باشد -->
                        <nav class="panel" style="background-color: rgb(255, 198, 227);">
                            <p class="panel-heading" style="background-color: cyan;">
                                لیست کتاب های این مبحث
                            </p>
                            {% if bookss %} {% for books in bookss %}
                            {% if books.booklink_is_published == True %}
                            <a href="{{ books.booklink }}" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                </span>
                                {{ books.bookname }}
                            </a>
                            {% endif %}
                            {% if books.bookfile_is_published == True %}
                            <a href="{{ books.bookfile.url }}" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                </span>
                                {{ books.bookname }} (لینک مستقیم)
                            </a>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </nav>
                        {% else %}
                        <!-- وگرنه هزینه باید بپردازد -->
                        <form action="{% url 'request' %}" method="POST">
                            {% csrf_token %}
                            <div class="panel" style="width: 100%;">
                                <p class="panel-heading">
                                    برای دیدن لینک های دانلود باید هزینه آن را پرداخت نمایید
                                    <br><br>




                                    


                                    {% if coursebook.off_is_published == True %}
                                <p>
                                    هزینه : <strong><s>{{ coursebook.hazine }} تومان</s><br>
                                        هزینه : <span style="color: red;">{{ coursebook.hazineoff }}
                                            تومان</span></strong>
                                </p>
                                {% else %}
                                هزینه : {{ coursebook.hazine }} تومان

                                {% endif %}







                                    <input type="number" name="userid" value="{{ user.id }}" hidden />
                                    <input type="text" name="username" value="{{ user.username }}" hidden />
                                    <input type="number" name="courseid" value="{{ coursebook.id }}" hidden />
                                    <input type="text" name="coursename" value="{{ coursebook.coursename }}" hidden />
                                    <input type="text" name="coursetype" value="4" hidden />
                                    <input type="text" name="description"
                                        value="  کتاب {{ coursebook.coursename }} با آیدی {{ coursebook.id }} توسط یوزر {{ user.username }} با آیدی {{ user.id }} خریداری شد"
                                        hidden />
                                <p class="control is-expanded  has-icons-right">
                                    <input class="input" type="email" name="email" placeholder="ایمیل"
                                        value="{{ user.email }}" required />
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </p>
                                <p class="control is-expanded has-icons-right">
                                    <input class="input" type="number" min="0" max="9999999999999" name="mobile"
                                        placeholder="تلفن همراه" required />
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                </p>
                                </p>
                                <br><button>برای پرداخت اینجا کلیک کنید</button><br><br>
                            </div>
                        </form>
                        {% endif %}



                        {% else %}
                        <nav class="panel" style="background-color: rgb(255, 198, 227);">
                            <p class="panel-heading" style="background-color: cyan;">
                                لیست کتاب های این مبحث
                            </p>
                            {% if bookss %} {% for books in bookss %}
                            {% if books.booklink_is_published == True %}
                            <a href="{{ books.booklink }}" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                </span>
                                {{ books.bookname }}
                            </a>
                            {% endif %}
                            {% if books.bookfile_is_published == True %}
                            <a href="{{ books.bookfile.url }}" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                </span>
                                {{ books.bookname }} (لینک مستقیم)
                            </a>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </nav>
                        {% endif %}
                        {% else %}
                        {% if coursebook.hazine != 0 %}
                        <a href="{% url 'login' %}" class="panel-heading box" style="text-align: center;">
                            برای دیدن لینک های دانلود باید ابتدا وارد حساب کاربری خود شوید
                            <br><br><strong style="text-align: center; color: crimson;">برای ورود اینجا کلیک
                                کنید</strong><br><br>










                                {% if coursebook.off_is_published == True %}
                                <input type="text" name="amount" value="{{ coursebook.hazine }}" hidden />هزینه :
                                {{ coursebook.hazineoff }} تومان
                                {% else %}
                                <input type="text" name="amount" value="{{ coursebook.hazine }}" hidden />هزینه :
                                {{ coursebook.hazine }} تومان
                                {% endif %}
    
    
    
    
    
    
    


                        </a>
                        {% else %}
                        <nav class="panel" style="background-color: rgb(255, 198, 227);">
                            <p class="panel-heading" style="background-color: cyan;">
                                لیست کتاب های این مبحث
                            </p>
                            {% if bookss %} {% for books in bookss %}
                            {% if books.booklink_is_published == True %}
                            <a href="{{ books.booklink }}" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                </span>
                                {{ books.bookname }}
                            </a>
                            {% endif %}
                            {% if books.bookfile_is_published == True %}
                            <a href="{{ books.bookfile.url }}" class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-book" aria-hidden="true"></i>
                                </span>
                                {{ books.bookname }} (لینک مستقیم)
                            </a>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </nav>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </section>





            <hr>
            <hr>


            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">کتاب های مرتبط</h3>
                <div class="columns is-multiline">
                    {% if otherthiss %} {% for otherthis in otherthiss %}
                    {% if otherthis.id != coursebook.id %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'showbooktutorial' otherthis.id %}" class="box" style="height: 320px;">
                            






                            {% if otherthis.off_is_published == True %}
                            <p class="button is-warning" style="position: absolute; height: 70px; border-radius: 5%;">
                                <strong><s>{{ otherthis.hazine }} تومان</s><br>
                                    <span style="color: red;">{{ otherthis.hazineoff }}
                                        تومان</span></strong>
                            </p>
                            {% else %}
                            {% if otherthis.hazine != 0 %}
                            <p class="button is-primary" style="position: absolute; height: 70px; border-radius: 5%;">
                                {{ otherthis.hazine }}<br> تومان </p>
                            {% else %}
                            <p class="button is-danger" style="position: absolute; height: 70px; border-radius: 50%;">
                                رایگان
                            </p>
                            {% endif %}
                            {% endif %}





                            <img src="{{ otherthis.pic.url }}" style="width: 100%; height:150px">
                            <p class="has-text-centered"><strong> درس : {{ otherthis.coursename }}</strong>
                            </p>
                            <p class="has-text-centered">نویسنده : {{ otherthis.modaresinfkey }}</p>
                            <p class="has-text-centered">{{ otherthis.saattadris }} صفحه</p>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </section>




        </div>
    </div>
</div>

{% endblock %}