{% extends 'base.html' %}

{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background">
    <img alt="Fill Murray" class="hero-background is-transparent" src="static/images/bg.jpg"/>
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <h1 class="title has-text-centered">با ثبت نام در سایت ما به بهترین فایل های آموزشی دسترسی داشته باشید</h1>


            <section class="section has-background-light">
                <div class="container ">
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input class="input" type="text" placeholder="نام">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded  has-icons-right">
                                            <input class="input" type="password" placeholder="رمز عبور">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input class="input" type="text" placeholder="نام خانوادگی">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded  has-icons-right">
                                            <input class="input" type="password" placeholder="تکرار رمز عبور">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input class="input" type="text" placeholder="تلفن همراه">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="field">
                                        <div class="control is-expanded has-icons-right select is-fullwidth">
                                            <select>
                                                <option selected>جنسیت</option>
                                                <option>مرد</option>
                                                <option>زن</option>
                                                <option>نامعلوم</option>
                                            </select>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input class="input" type="text" placeholder="کد ملی">
                                            <span class="icon is-small is-right">
                                                <i class="far fa-id-badge"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded  has-icons-right">
                                            <input class="input" type="email" placeholder="ایمیل">
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded has-icons-right select is-fullwidth">
                                            <select>
                                                <option selected>مقطع</option>
                                                <option>لیسانس</option>
                                                <option>فوق لیسانس</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                       <div class="control is-expanded has-icons-right select is-fullwidth">
                                            <select>
                                                <option selected>رشته</option>
                                                <option>ریاضی</option>
                                                <option>تجربی</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded has-icons-right select is-fullwidth">
                                            <select>
                                                <option selected>استان</option>
                                                <option>فارس</option>
                                                <option>بادن ووتنبرگ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded has-icons-right select is-fullwidth">
                                            <select>
                                                <option selected>شهر</option>
                                                <option>شیراز</option>
                                                <option>کارسروهه</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <a class="button is-success" href="{% url 'index' %}">
                                        ثبت نام
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}