{% extends 'base.html' %}



{% block title %}{% if tutorialvideoAdmins %} {% for tutorialvideoAdmin in tutorialvideoAdmins %}
{{ tutorialvideoAdmin.title_page }} {% endfor %}
{% endif %}{% endblock %} {% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background">
    <img alt="Fill Murray" class="hero-background is-transparent" src="static/images/bg.jpg" />
    <div class="hero-body">
        <section class="container">
            <figure class="image is-3by1">
                {% if tutorialvideoAdmins %} {% for tutorialvideoAdmin in tutorialvideoAdmins %}
                <img src="{{ tutorialvideoAdmin.pic.url }}">
                {% endfor %}
                {% endif %}
            </figure>
            <div class="box">
                <section class="section has-background-light">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title has-text-dark">{% if tutorialvideoAdmins %} {% for tutorialvideoAdmin in tutorialvideoAdmins %}
                        {{ tutorialvideoAdmin.title_search }} {% endfor %}
                        {% endif %}</h1>

                </section>
                <section class="section has-background-light">
                    <div class="container ">
                        <div class="columns">
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded has-icons-right select is-fullwidth">
                                                <select>
                                                    {% if maghtaTahsilishows %} {% for maghtaTahsilishow in maghtaTahsilishows %}
                                                <option>{{ maghtaTahsilishow.maghta }}</option>

                                                {% endfor %} {% else %}
                                                <div class="col-md-12">
                                                    <p>No maghta Available</p>
                                                </div>
                                                {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="field">
                                                <div class="control is-expanded has-icons-right select is-fullwidth">
                                                    <select>
                                                        {% if reshteTahsilishows %} {% for reshteTahsilishow in reshteTahsilishows %}
                                                <option>{{ reshteTahsilishow.reshte }}</option>

                                                {% endfor %} {% else %}
                                                <div class="col-md-12">
                                                    <p>No Ostan Available</p>
                                                </div>
                                                {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="field">
                                                <div class="control is-expanded has-icons-right select is-fullwidth">
                                                    <select>
                                                        {% if coursevideoshows %} {% for coursevideoshow in coursevideoshows %}
                                                        <option>{{ coursevideoshow.coursename }}</option>
        
                                                        {% endfor %} {% else %}
                                                        <div class="col-md-12">
                                                            <p>No modares Available</p>
                                                        </div>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="field">
                                                <div class="control is-expanded has-icons-right select is-fullwidth">
                                                    <select>
                                                        {% if modaresinshows %} {% for modaresinshow in modaresinshows %}
                                                        <option>{{ modaresinshow.modares }}</option>
        
                                                        {% endfor %} {% else %}
                                                        <div class="col-md-12">
                                                            <p>No modares Available</p>
                                                        </div>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">
                                        {% if tutorialvideoAdmins %} {% for tutorialvideoAdmin in tutorialvideoAdmins %}
                                        {{ tutorialvideoAdmin.text_click }} {% endfor %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <section class="section has-background-light">
                <div class="container ">
                    {% if coursevideoshows %} {% for coursevideoshow in coursevideoshows %}
                    <a href="" class="columns box">
                        <div class="column is-one-quarter">
                            <figure class="image">
                                <img src="{{ coursevideoshow.pic.url }}">
                            </figure>
                        </div>
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-vcentered">
                                    <strong>
                                        درس : {{ coursevideoshow.coursename }}
                                       </strong><br>
                                    <strong>
                                        استاد : {{ coursevideoshow.modaresinfkey }}
                                        </strong><br>
                                    <small>
                                        {{ coursevideoshow.saattadris }} ساعت آموزش
                                        </small><br>
                                        <small>
                                            هزینه : {{ coursevideoshow.hazine }} ریال
                                            </small>
                                    <br>
                                    {{ coursevideoshow.tozihat }}
                                    
                                </p>
                            </div>
                        </div>
                    </a>
                    <br>
                    {% endfor %} 
                    {% endif %}
                </div>

            </section>
            <hr>
            <section class="section has-background-light">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialvideoAdmins %} {% for tutorialvideoAdmin in tutorialvideoAdmins %}
                    {{ tutorialvideoAdmin.title_1 }} {% endfor %}
                    {% endif %}</h3>
                <div class="columns is-multiline">
                    
                    {% if bettercoursevideoshows %}  {% for bettercoursevideoshow in bettercoursevideoshows %}
                    
                    <div class="column is-one-quarter">
                        <a class="box">
                            <img src="{{ bettercoursevideoshow.pic.url }}">
                            <p class="has-text-centered"><strong> درس : {{ bettercoursevideoshow.coursename }}</strong></p>
                            <p class="has-text-centered">استاد : {{ bettercoursevideoshow.modaresinfkey }}</p>
                            <p class="has-text-centered">{{ bettercoursevideoshow.saattadris }} ساعت آموزش</p>
                        </a>
                    </div>
                    
                    {% endfor %} 
                    {% endif %}
                </div>
            </section>
            <hr>
            <section class="section has-background-light">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialvideoAdmins %} {% for tutorialvideoAdmin in tutorialvideoAdmins %}
                    {{ tutorialvideoAdmin.title_2 }} {% endfor %}
                    {% endif %}</h3>
                <div class="columns is-multiline">
                    {% if newcoursevideoshows %} {% for newcoursevideoshow in newcoursevideoshows %}
                    <div class="column is-one-quarter">
                        <a class="box">
                            <img src="{{ newcoursevideoshow.pic.url }}">
                            <p class="has-text-centered"><strong> درس : {{ newcoursevideoshow.coursename }}</strong></p>
                            <p class="has-text-centered">استاد : {{ newcoursevideoshow.modaresinfkey }}</p>
                            <p class="has-text-centered">{{ newcoursevideoshow.saattadris }} ساعت آموزش</p>
                        </a>
                    </div>
                    {% endfor %} 
                    {% endif %}
                </div>
            </section>
        </section>
    </div>
</div>

{% endblock %}


