{% extends 'base.html' %}
{% block title %}{% if tutorialvoiceAdmins %} {% for tutorialvoiceAdmin in tutorialvoiceAdmins %}
{{ tutorialvoiceAdmin.title_page }} {% endfor %}
{% endif %}{% endblock %} {% block content %}
<!--test-->
<div class="hero is-fullheight" style="background-color:snow;">
    <div class="hero-body">
        <section class="container">
            <figure class="image is-3by1">
                {% if tutorialvoiceAdmins %} {% for tutorialvoiceAdmin in tutorialvoiceAdmins %}
                <img src="{{ tutorialvoiceAdmin.pic.url }}">
                {% endfor %}
                {% endif %}
            </figure>
            <div class="box">
                <section class="section " style="background-color:snow;">
                    <!--        تیتر توضیحات زیر عکس اول درباره ما-->
                    <h1 class="title has-text-dark">{% if tutorialvoiceAdmins %}
                        {% for tutorialvoiceAdmin in tutorialvoiceAdmins %}
                        {{ tutorialvoiceAdmin.title_search }} {% endfor %}
                        {% endif %}</h1>
                </section>
                <form method="post" id="formidsearch" action="{% url 'tutorialvoice' %}"
                    data-searchselect-url="{% url 'tutorialvoice' %}" class="section " style="background-color:snow;">
                    {% csrf_token %}
                    <div class="container ">
                        <div class="columns">
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control is-expanded has-icons-right select is-fullwidth">
                                                <select id="maghtanidtemp" name="maghtan">
                                                    <option selected="True" disabled="disabled">مقطع تحصیلی</option>
                                                    {% if maghtaTahsilishows %}
                                                    {% for maghtaTahsilishow in maghtaTahsilishows %}
                                                    <option data-id="{{ maghtaTahsilishow.id }}"
                                                        value="{{ maghtaTahsilishow.id }}">
                                                        {{ maghtaTahsilishow.maghta }}</option>
                                                    {% endfor %}
                                                    {% else %}
                                                    <div class="col-md-12">
                                                        <p>No maghta Available</p>
                                                    </div>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="field">
                                                <div class="control is-expanded has-icons-right select is-fullwidth">
                                                    <select id="reshtenidtemp" name="reshten">
                                                        <option selected="True" disabled="disabled">ابتدا مقطع تحصیلی را
                                                            انتخاب نمایید</option>
                                                        {% if reshteTahsilishows %}
                                                        {% for reshteTahsilishow in reshteTahsilishows %}
                                                        <option value="{{ reshteTahsilishow.id }}">
                                                            {{ reshteTahsilishow.reshte }}</option>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('select[name="maghtan"]').on('change', function () {
                                    var sardaste_id = $("#maghtanidtemp option:selected").attr('data-id');
                                    if (sardaste_id) {
                                        $.ajax({
                                            url: '/tutorialvoice/m/' + sardaste_id,
                                            type: 'GET',
                                            dataType: 'json',
                                            success: function (data) {
                                                console.log(data);
                                                $('select[name="reshten"]').empty();
                                                $.each(data, function (key, value) {
                                                    $('select[name="reshten"]').append('<option value="' + value + '">' + value + '</option>');
                                                });


                                            },
                                        })
                                    } else {
                                        $('select[name="reshten"]').empty();
                                    }
                                })
                            })
                        </script>
                        <div class="columns">
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.coursen }}" class="input is-fullwidth" placeholder="نام درس"
                                        type="text" name="coursen">
                                </div>
                            </div>
                            <div class="column">
                                <div class="control">
                                    <input value="{{ values.modaresn }}" class="input is-fullwidth"
                                        placeholder="نام مدرس" type="text" name="modaresn">
                                </div>
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button id="maghtanidtempbtn" class="button is-primary">
                                        {% if tutorialvoiceAdmins %} {% for tutorialvoiceAdmin in tutorialvoiceAdmins %}
                                        {{ tutorialvoiceAdmin.text_click }} {% endfor %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>








                <div class="container ">
                    <h3 class="title has-text-centered section-title">آموزش های ما در یک قاب</h3>
                    <div class="columns is-multiline box" style="background-color: lightslategray;">
                        {% if maghtaTahsilishowsall %}

                        {% for maghtaTahsilishowall in maghtaTahsilishowsall %}

                        <div class="column is-3">
                            <a class="box " href="#reshte{{ maghtaTahsilishowall.id }}" rel="modal:open" class="button">
                                <span class="{{ maghtaTahsilishowall.logo }}"></span>
                                &nbsp;&nbsp;{{ maghtaTahsilishowall.maghta }}
                            </a>
                        </div>
                        <div id="reshte{{ maghtaTahsilishowall.id }}" class="modal">
                            <div class="hero-body">
                                <a href="#reshte{{ maghtaTahsilishowall.id }}" rel="modal:close">
                                    <div class="modal-background"></div>
                                    <div class="modal-content"
                                        style="width: 90%; overflow-y: auto; overflow-x: hidden;">
                                        <div class="columns is-multiline box" style="background-color: lightslategray;">
                                            {% if reshteTahsilishowsall %}
                                            {% for reshteTahsilishowall in reshteTahsilishowsall %}
                                            {% if reshteTahsilishowall.maghtafkey.id == maghtaTahsilishowall.id %}
                                            <div class="column is-3">
                                                <a class="box" href="#course{{ reshteTahsilishowall.id }}"
                                                    rel="modal:open" class="button">
                                                    <span class="{{ reshteTahsilishowall.logo }}"></span>
                                                    &nbsp;&nbsp;{{ reshteTahsilishowall.reshte }}
                                                </a>
                                            </div>
                                            <div id="course{{ reshteTahsilishowall.id }}" class="modal">
                                                <div class="hero-body">
                                                    <a href="#course{{ reshteTahsilishowall.id }}" rel="modal:close">
                                                        <div class="modal-background"></div>
                                                        <div class="modal-content"
                                                            style="width: 90%; overflow-y: auto; overflow-x: hidden;">
                                                            <div class="columns is-multiline box"
                                                                style="background-color: lightslategray;">
                                                                {% if coursevideoshowsall %}
                                                                {% for coursevideoshowall in coursevideoshowsall %}
                                                                {% if coursevideoshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                                <div class="column is-4">
                                                                    <a class="box"
                                                                        href="{% url 'showvideotutorial' coursevideoshowall.id %}">
                                                                        <span class="fas fa-video"></span> &nbsp;&nbsp;
                                                                        <strong>{{ coursevideoshowall.coursename }}</strong>
                                                                    </a>
                                                                </div>
                                                                {% endif %}
                                                                {% endfor %}
                                                                {% endif %}
                                                                {% if coursevoiceshowsall %}
                                                                {% for coursevoiceshowall in coursevoiceshowsall %}
                                                                {% if coursevoiceshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                                <div class="column is-4">
                                                                    <a class="box"
                                                                        href="{% url 'showvoicetutorial' coursevoiceshowall.id %}">
                                                                        <span class="fas fas fa-volume-up"></span>
                                                                        &nbsp;&nbsp;
                                                                        <strong>{{ coursevoiceshowall.coursename }}</strong>
                                                                    </a>
                                                                </div>
                                                                {% endif %}
                                                                {% endfor %}
                                                                {% endif %}
                                                                {% if coursefileshowsall %}
                                                                {% for coursefileshowall in coursefileshowsall %}
                                                                {% if coursefileshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                                <div class="column is-4">
                                                                    <a class="box"
                                                                        href="{% url 'showfiletutorial' coursefileshowall.id %}">
                                                                        <span class="fas fa-file"></span> &nbsp;&nbsp;
                                                                        <strong>{{ coursefileshowall.coursename }}</strong>
                                                                    </a>
                                                                </div>
                                                                {% endif %}
                                                                {% endfor %}
                                                                {% endif %}
                                                                {% if coursebookshowsall %}
                                                                {% for coursebookshowall in coursebookshowsall %}
                                                                {% if coursebookshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                                <div class="column is-4">
                                                                    <a class="box"
                                                                        href="{% url 'showbooktutorial' coursebookshowall.id %}">
                                                                        <span class="fas fa-book"></span> &nbsp;&nbsp;
                                                                        <strong>{{ coursebookshowall.coursename }}</strong>
                                                                    </a>
                                                                </div>
                                                                {% endif %}
                                                                {% endfor %}
                                                                {% endif %}


                                                                {% if courseapplicationshowsall %}
                                                                {% for courseapplicationshowall in courseapplicationshowsall %}
                                                                {% if courseapplicationshowall.reshteTahsilifkey.id == reshteTahsilishowall.id %}
                                                                <div class="column is-4">
                                                                    <a class="box"
                                                                        href="{% url 'showapplicationtutorial' courseapplicationshowall.id %}">
                                                                        <span class="	fab fa-android"></span>
                                                                        &nbsp;&nbsp;
                                                                        <strong>{{ courseapplicationshowall.coursename }}</strong>
                                                                    </a>
                                                                </div>
                                                                {% endif %}
                                                                {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                        {% endif %}
                    </div>
                </div>























            </div>
            {% if searchcoursevoiceshows %}
            <section class="section " style="background-color:snow;">
                <div class="container ">
                    <h3 class="subtitle has-text-dark">صوت های یافت شده</h3>
                    {% for searchcoursevoiceshow in searchcoursevoiceshows %}
                    <a href="{% url 'showvoicetutorial' searchcoursevoiceshow.id %}" class="columns box">
                        <div class="column is-3">
                            <figure class="image">
                                <img style="max-height: 150px;" src="{{ searchcoursevoiceshow.pic.url }}">
                            </figure>
                        </div>
                        <div class="column">
                            <div class="content has-text-right">
                                <p class="has-text-dark is-vcentered">
                                    <strong>
                                        درس : {{ searchcoursevoiceshow.coursename }}
                                    </strong><br>
                                    <strong>
                                        استاد : {{ searchcoursevoiceshow.modaresinfkey }}
                                    </strong><br>
                                    {% if searchcoursevoiceshow.hazine != 0 %}
                                    <small>
                                        هزینه : {{ searchcoursevoiceshow.hazine }} تومان
                                    </small>
                                    {% else %}
                                    <small>
                                        هزینه : رایگان
                                    </small>
                                    {% endif %}
                                    <br>
                                    {{ searchcoursevoiceshow.saattadris }} ساعت آموزش
                                </p>
                            </div>
                        </div>
                    </a>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            <hr>
            {% if bettercoursevoiceshows %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialvoiceAdmins %}
                    {% for tutorialvoiceAdmin in tutorialvoiceAdmins %}
                    {{ tutorialvoiceAdmin.title_1 }} {% endfor %}
                    {% endif %}
                </h3>
                <div class="columns is-multiline">
                    {% for bettercoursevoiceshow in bettercoursevoiceshows %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'showvoicetutorial' bettercoursevoiceshow.id %}" class="box">

                            {% if bettercoursevoiceshow.hazine != 0 %}
                            <p class="button is-primary" style="position: absolute; height: 70px; border-radius: 5%;">
                                {{ bettercoursevoiceshow.hazine }}<br> تومان </p>
                            {% else %}
                            <p class="button is-danger" style="position: absolute; height: 70px; border-radius: 50%;">
                                رایگان </p>
                            {% endif %}

                            <img src="{{ bettercoursevoiceshow.pic.url }}">

                            <p class="has-text-centered"><strong> درس :
                                    {{ bettercoursevoiceshow.coursename }}</strong></p>
                            <p class="has-text-centered">استاد : {{ bettercoursevoiceshow.modaresinfkey }}</p>
                            <p class="has-text-centered">{{ bettercoursevoiceshow.saattadris }} ساعت آموزش</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <br>
            {% if bettercoursevoiceshows.has_other_pages %}
            <div class="row columns is-centered">
                <div class="box column is-3">
                    <ul class="pagination">
                        {% if bettercoursevoiceshows.has_pervious %}
                        <li class="page-item">
                            <a href="?page2={{searchcoursevoiceshows.previous_page_number}}" class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% endif %}
                        {% for i in bettercoursevoiceshows.paginator.page_range %}
                        {% if bettercoursevoiceshows.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page2={{i}}" class="page-link">{{i}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if bettercoursevoiceshows.has_next %}
                        <li class="page-item">
                            <a href="?page2={{bettercoursevoiceshows.next_page_number}}" class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <hr>
            {% endif %}
            <section class="section " style="background-color:snow;">
                <h3 class="title has-text-centered has-text-dark">{% if tutorialvoiceAdmins %}
                    {% for tutorialvoiceAdmin in tutorialvoiceAdmins %}
                    {{ tutorialvoiceAdmin.title_2 }} {% endfor %}
                    {% endif %}</h3>
                <div class="columns is-multiline">
                    {% if newcoursevoiceshows %} {% for newcoursevoiceshow in newcoursevoiceshows %}
                    <div class="column is-one-quarter">
                        <a href="{% url 'showvoicetutorial' newcoursevoiceshow.id %}" class="box">

                            {% if newcoursevoiceshow.hazine != 0 %}
                            <p class="button is-primary" style="position: absolute; height: 70px; border-radius: 5%;">
                                {{ newcoursevoiceshow.hazine }}<br> تومان </p>
                            {% else %}
                            <p class="button is-danger" style="position: absolute; height: 70px; border-radius: 50%;">
                                رایگان </p>
                            {% endif %}

                            <img src="{{ newcoursevoiceshow.pic.url }}">
                            <p class="has-text-centered"><strong> درس : {{ newcoursevoiceshow.coursename }}</strong>
                            </p>
                            <p class="has-text-centered">استاد : {{ newcoursevoiceshow.modaresinfkey }}</p>
                            <p class="has-text-centered">{{ newcoursevoiceshow.saattadris }} ساعت آموزش</p>
                            {% if newcoursevoiceshow.hazine != 0 %}
                            <small>
                                هزینه : {{ newcoursevoiceshow.hazine }} تومان
                            </small>
                            {% else %}
                            <small>
                                هزینه : رایگان
                            </small>
                            {% endif %}
                        </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            <br>
            {% if newcoursevoiceshows.has_other_pages %}
            <div class="row columns is-centered">
                <div class="box column is-3">
                    <ul class="pagination">
                        {% if newcoursevoiceshows.has_pervious %}
                        <li class="page-item">
                            <a href="?page3={{newcoursevoiceshows.previous_page_number}}" class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &laquo;
                            </a>
                        </li>
                        {% endif %}
                        {% for i in newcoursevoiceshows.paginator.page_range %}
                        {% if newcoursevoiceshows.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page3={{i}}" class="page-link">{{i}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if newcoursevoiceshows.has_next %}
                        <li class="page-item">
                            <a href="?page3={{newcoursevoiceshows.next_page_number}}" class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disable">
                            <a class="page-link">
                                &raquo;
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}