{% if messages %} {% for message in messages %}

<div id="message" class="container">
    <div class="alert alert-{{ message.tags }} alert-dismisible text-center" role="alert">
        <botton type="botton" class="close" data-dismiss="alert-"><span aria-hidden="true">&times;</span></botton>
        <strong>
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} خطا :  {% else %} {{
      message.tags|title }} {% endif %}
    </strong> {{ message }}
    </div>
</div>
{% endfor %} {% endif %}