<div class="hero has-background-dark">
      <section class="section has-background-dark">
        <h1 class="has-text-light has-text-centered">با ما در ارتباط باشید</h1>
        <br>
        <div class="tabs is-centered">
          <ul>
            <li>
              <a>
                <span class="icon is-small has-text-light"
                  ><i class="fab fa-twitter fa-2x" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small has-text-light"
                  ><i class="fab fa-linkedin-in fa-2x" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small has-text-light"
                  ><i class="fab fa-instagram fa-2x" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small has-text-light"
                  ><i class="far fa-envelope fa-2x" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small has-text-light"
                  ><i class="fab fa-whatsapp fa-2x" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small  has-text-light"
                  ><i class="fab fa-telegram-plane fa-2x" aria-hidden="true"></i
                ></span>
              </a>
            </li>
          </ul>
        </div>
      </section>
</div>
