<footer class="footer has-background-warning">
  <div class="bd-footer-links">
    <div class="columns">
      <div class="column is-3">
        <p class="bd-footer-link-title">
          <a href="https://bulma.io">Home</a>
        </p>
  
        <p class="bd-footer-link-title">
          <a href="https://bulma.io/blog">Blog</a>
        </p>
  
        
          <p class="bd-footer-link">
            <a href="/2019/10/15/light-dark-colors/">
              Light/Dark colors, better look, larger controls
            </a>
          </p>
        
          <p class="bd-footer-link">
            <a href="/2018/06/20/automatic-variables-documentation/">
              Automatic variables docs
            </a>
          </p>
        
          <p class="bd-footer-link">
            <a href="/2018/04/14/migration-to-v070/">
              Migrating to v0.7.0
            </a>
          </p>
        
          <p class="bd-footer-link">
            <a href="/2018/04/13/website-redesign/">
              Website redesign
            </a>
          </p>
        
  
        <p class="bd-footer-link bd-is-more">
          <a href="https://bulma.io/blog">
            View all posts
          </a>
        </p>
      </div>
  
      <div class="column is-3">
        <p class="bd-footer-link-title">
          <a href="https://bulma.io/documentation">Documentation</a>
        </p>
  
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/overview">
              Overview
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/customize">
              Customize
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/modifiers">
              Modifiers
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/columns">
              Columns
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/layout">
              Layout
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/form">
              Form
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/elements">
              Elements
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/components">
              Components
            </a>
          </p>
        
      </div>
  

  
      <div class="column is-3">
        <p class="bd-footer-link-title">
          <a href="https://bulma.io/documentation">Documentation</a>
        </p>
  
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/overview">
              Overview
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/customize">
              Customize
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/modifiers">
              Modifiers
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/columns">
              Columns
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/layout">
              Layout
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/form">
              Form
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/elements">
              Elements
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/components">
              Components
            </a>
          </p>
        
      </div>
        
      <div class="column is-3">
        <p class="bd-footer-link-title">
          <a href="https://bulma.io/documentation">Documentation</a>
        </p>
  
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/overview">
              Overview
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/customize">
              Customize
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/modifiers">
              Modifiers
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/columns">
              Columns
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/layout">
              Layout
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/form">
              Form
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/elements">
              Elements
            </a>
          </p>
        
          
          
  
          <p class="bd-footer-link">
            <a href="https://bulma.io/documentation/components">
              Components
            </a>
          </p>
        
      </div>
  
        
      </div>
    </div>
  </div>
  </footer>


  