{% load static %}

<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>


        <a class="navbar-item" href="{% url 'index' %}">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">


        <div class="navbar-end">
            <a class="navbar-item is-link is-right" href="{% url 'index' %}">
                <span class="fas fa-home"></span>&nbsp;صفحه اصلی
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span></span>&nbsp; بسته اموزشی
                </a>

                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item"  href="{% url 'videotutorial' %}">
                        <span class="fas fa-play-circle"></span>&nbsp; ویدیو های آموزشی
                    </a>
                    <a class="navbar-item"  href="{% url 'filetutorial' %}">
                        <span class="far fa-file-alt"></span>&nbsp; فایل های آموزشی
                    </a>
                    <a class="navbar-item"  href="{% url 'booktutorial' %}">
                        <span class="fas fa-book-open"></span>&nbsp; کتاب های آموزشی
                    </a>
                </div>
            </div>
            <a class="navbar-item is-link is-right" href="{% url 'exam' %}">
                <span class="far fa-edit"></span>&nbsp; آزمون
            </a>


            <a class="navbar-item" href="{% url 'about' %}">
                <span class="fas fa-info"></span>&nbsp; درباره ما
            </a>

            <a class="navbar-item" href="{% url 'contact' %}">
                <span class="fas fa-phone"></span>&nbsp; تماس باما
            </a>

        </div>

        <div class="navbar-start">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{% url 'signup' %}">
                        <strong><span class="fas fa-user-circle"></span>&nbsp;ثبت نام</strong>
                    </a>
                    <a class="button is-light"  href="{% url 'signin' %}">
                        <span class="fas fa-user"></span>&nbsp;ورود
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>