{% extends 'base.html' %}
{% block title %} login {% endblock %}
{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background-dark">
    <div class="hero-body">
        <div class="container">
            <section class="hero is-fullheight">
                <h1 class="title has-text-centered">خوش آمدید</h1>
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-centered">
                            <div class="column is-5-tablet is-4-desktop is-4-widescreen">

                                <form action="{% url 'login' %}" method="POST" class="box">
                                    {% csrf_token %}
                                    <div class="field">
                                        <label for="" class="label">نام کاربری</label>
                                        <div class="control has-icons-left">
                                            <input class="input" type="text" name="username" placeholder="نام کاربری" required/>
                                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                              </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="" class="label">رمز عبور</label>
                                        <div class="control has-icons-left">
                                            <input class="input" type="password" name="password" placeholder="رمز عبور" required/>
                                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                              </span>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <button>ورود</button>
                                        <div class="has-background-warning has-text-danger has-text-right">
                                            {% include '_partials/_alerts.html' %}
                                        </div>
                                    </div>
                                    <h6 class="has-text-centered">
                                        <a href="{% url 'register' %}">
                                            در صورتی که برای اولین بار از سایت ما دیدن میفرمایید برای ثبت نام اینجا کلیک کنید
                                        </a>
                                    </h6>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}