{% extends 'base.html' %}
{% block title %} register {% endblock %}
{% block content %}
<!--test-->
<div class="hero is-fullheight is-primary has-background">
    <img alt="Fill Murray" class="hero-background is-transparent" src="static/images/bg.jpg" />
    <div class="hero-body">
        <div class="container">
            <!--        تیتر بالای صفحه بعد از سکشن-->
            <h1 class="title has-text-centered">
                با ثبت نام در سایت ما به بهترین فایل های آموزشی دسترسی داشته باشید
            </h1>

            <form action="{% url 'register' %}" method="POST" class="section has-background-light">
                {% csrf_token %}
                <div class="container ">
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input name="username" class="input" type="text" placeholder="نام کاربری"  required/>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input name="first_name" class="input" type="text" placeholder="نام" required/>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input class="input" type="text" name="last_name"
                                                placeholder="نام خانوادگی" required />
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded  has-icons-right">
                                            <input class="input" type="password" name="password"
                                                placeholder="رمز عبور" required/>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded  has-icons-right">
                                            <input class="input" type="password" name="password2"
                                                placeholder="تکرار رمز عبور" required />
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input class="input" type="number" min="0" max="9999999999999" name="tell" placeholder="تلفن همراه" required/>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="field">
                                            <div class="control is-expanded has-icons-right select is-fullwidth">
                                                <select name="gender">
                                                    <option selected>جنسیت</option>
                                                    <option>مرد</option>
                                                    <option>زن</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-right">
                                            <input class="input" type="number"  min="0" max="9999999999999" name="melli_code" placeholder="کد ملی" required />
                                            <span class="icon is-small is-right">
                                                <i class="far fa-id-badge"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded  has-icons-right">
                                            <input class="input" type="email" name="email" placeholder="ایمیل" required />
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded has-icons-right select is-fullwidth">
                                            <select name="maghta">
                                                {% if maghtaTahsilis %} {% for maghtaTahsili in maghtaTahsilis %}
                                                <option>{{ maghtaTahsili.maghta }}</option>
                                                {% endfor %} {% else %}
                                                <div class="col-md-12">
                                                    <p>No Ostan Available</p>
                                                </div>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded has-icons-right select is-fullwidth">
                                            <select name="reshte">
                                                {% if reshteTahsilis %} {% for reshteTahsili in reshteTahsilis %}
                                                <option>{{ reshteTahsili.reshte }}</option>

                                                {% endfor %} {% else %}
                                                <div class="col-md-12">
                                                    <p>No Ostan Available</p>
                                                </div>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="karname11111" class="columns">
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded has-icons-right select is-fullwidth">
                                            <select name="ostan">
                                                {% if ostanhas %} {% for ostanha in ostanhas %}
                                                <option>{{ ostanha.ostanName }}</option>
                                                {% endfor %} {% else %}
                                                <div class="col-md-12">
                                                    <p>No Ostan Available</p>
                                                </div>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded has-icons-right select is-fullwidth">
                                            <select name="shahr">
                                                {% if shahrhas %} {% for shahrha in shahrhas %}

                                                <option>{{ shahrha.shahrNames }}</option>

                                                {% endfor %} {% else %}
                                                <div class="col-md-12">
                                                    <p>No Ostan Available</p>
                                                </div>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button>ثبت نام</button>
                                    <div class="has-background-warning has-text-danger has-text-right">
                                        {% include '_partials/_alerts.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}